## Import

In [1]:
# from pyspark.sql import SparkSession
import pandas as pd
import warnings
import sys
sys.path.append('../src')
from data import load_and_concat_csv, analyze_dataframe, visualize_NA_percentage
warnings.simplefilter(action='ignore', category=pd.errors.DtypeWarning)
print("Package Imported")

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Package Imported

In [2]:
# Define the Loan Performance table headers and data types
lppub_column_names = [
    "POOL_ID", "LOAN_ID", "ACT_PERIOD", "CHANNEL", "SELLER", "SERVICER",
    "MASTER_SERVICER", "ORIG_RATE", "CURR_RATE", "ORIG_UPB", "ISSUANCE_UPB",
    "CURRENT_UPB", "ORIG_TERM", "ORIG_DATE", "FIRST_PAY", "LOAN_AGE",
    "REM_MONTHS", "ADJ_REM_MONTHS", "MATR_DT", "OLTV", "OCLTV",
    "NUM_BO", "DTI", "CSCORE_B", "CSCORE_C", "FIRST_FLAG", "PURPOSE",
    "PROP", "NO_UNITS", "OCC_STAT", "STATE", "MSA", "ZIP", "MI_PCT",
    "PRODUCT", "PPMT_FLG", "IO", "FIRST_PAY_IO", "MNTHS_TO_AMTZ_IO",
    "DLQ_STATUS", "PMT_HISTORY", "MOD_FLAG", "MI_CANCEL_FLAG", "Zero_Bal_Code",
    "ZB_DTE", "LAST_UPB", "RPRCH_DTE", "CURR_SCHD_PRNCPL", "TOT_SCHD_PRNCPL",
    "UNSCHD_PRNCPL_CURR", "LAST_PAID_INSTALLMENT_DATE", "FORECLOSURE_DATE",
    "DISPOSITION_DATE", "FORECLOSURE_COSTS", "PROPERTY_PRESERVATION_AND_REPAIR_COSTS",
    "ASSET_RECOVERY_COSTS", "MISCELLANEOUS_HOLDING_EXPENSES_AND_CREDITS",
    "ASSOCIATED_TAXES_FOR_HOLDING_PROPERTY", "NET_SALES_PROCEEDS",
    "CREDIT_ENHANCEMENT_PROCEEDS", "REPURCHASES_MAKE_WHOLE_PROCEEDS",
    "OTHER_FORECLOSURE_PROCEEDS", "NON_INTEREST_BEARING_UPB", "PRINCIPAL_FORGIVENESS_AMOUNT",
    "ORIGINAL_LIST_START_DATE", "ORIGINAL_LIST_PRICE", "CURRENT_LIST_START_DATE",
    "CURRENT_LIST_PRICE", "ISSUE_SCOREB", "ISSUE_SCOREC", "CURR_SCOREB",
    "CURR_SCOREC", "MI_TYPE", "SERV_IND", "CURRENT_PERIOD_MODIFICATION_LOSS_AMOUNT",
    "CUMULATIVE_MODIFICATION_LOSS_AMOUNT", "CURRENT_PERIOD_CREDIT_EVENT_NET_GAIN_OR_LOSS",
    "CUMULATIVE_CREDIT_EVENT_NET_GAIN_OR_LOSS", "HOMEREADY_PROGRAM_INDICATOR",
    "FORECLOSURE_PRINCIPAL_WRITE_OFF_AMOUNT", "RELOCATION_MORTGAGE_INDICATOR",
    "ZERO_BALANCE_CODE_CHANGE_DATE", "LOAN_HOLDBACK_INDICATOR", "LOAN_HOLDBACK_EFFECTIVE_DATE",
    "DELINQUENT_ACCRUED_INTEREST", "PROPERTY_INSPECTION_WAIVER_INDICATOR",
    "HIGH_BALANCE_LOAN_INDICATOR", "ARM_5_YR_INDICATOR", "ARM_PRODUCT_TYPE",
    "MONTHS_UNTIL_FIRST_PAYMENT_RESET", "MONTHS_BETWEEN_SUBSEQUENT_PAYMENT_RESET",
    "INTEREST_RATE_CHANGE_DATE", "PAYMENT_CHANGE_DATE", "ARM_INDEX",
    "ARM_CAP_STRUCTURE", "INITIAL_INTEREST_RATE_CAP", "PERIODIC_INTEREST_RATE_CAP",
    "LIFETIME_INTEREST_RATE_CAP", "MARGIN", "BALLOON_INDICATOR",
    "PLAN_NUMBER", "FORBEARANCE_INDICATOR", "HIGH_LOAN_TO_VALUE_HLTV_REFINANCE_OPTION_INDICATOR",
    "DEAL_NAME", "RE_PROCS_FLAG", "ADR_TYPE", "ADR_COUNT", "ADR_UPB", "PAYMENT_DEFERRAL_MOD_EVENT_FLAG", "INTEREST_BEARING_UPB"
]

# Define column data types as a dictionary
lppub_column_classes = {
    "POOL_ID": "string", "LOAN_ID": "string", "ACT_PERIOD": "string", "CHANNEL": "string", "SELLER": "string", 
    "SERVICER": "string", "MASTER_SERVICER": "string", "ORIG_RATE": "float64", "CURR_RATE": "float64",
    "ORIG_UPB": "float64", "ISSUANCE_UPB": "float64", "CURRENT_UPB": "float64", "ORIG_TERM": "float64", 
    "ORIG_DATE": "string", "FIRST_PAY": "string", "LOAN_AGE": "float64", "REM_MONTHS": "float64", 
    "ADJ_REM_MONTHS": "float64", "MATR_DT": "string", "OLTV": "float64", "OCLTV": "float64", 
    "NUM_BO": "string", "DTI": "float64", "CSCORE_B": "float64", "CSCORE_C": "float64", "FIRST_FLAG": "string", 
    "PURPOSE": "string", "PROP": "string", "NO_UNITS": "float64", "OCC_STAT": "string", "STATE": "string", 
    "MSA": "string", "ZIP": "string", "MI_PCT": "float64", "PRODUCT": "string", "PPMT_FLG": "string", 
    "IO": "string", "FIRST_PAY_IO": "string", "MNTHS_TO_AMTZ_IO": "float64", "DLQ_STATUS": "string", 
    "PMT_HISTORY": "string", "MOD_FLAG": "string", "MI_CANCEL_FLAG": "string", "Zero_Bal_Code": "string", 
    "ZB_DTE": "string", "LAST_UPB": "float64", "RPRCH_DTE": "string", "CURR_SCHD_PRNCPL": "float64", 
    "TOT_SCHD_PRNCPL": "float64", "UNSCHD_PRNCPL_CURR": "float64", "LAST_PAID_INSTALLMENT_DATE": "string", 
    "FORECLOSURE_DATE": "string", "DISPOSITION_DATE": "string", "FORECLOSURE_COSTS": "float64", 
    "PROPERTY_PRESERVATION_AND_REPAIR_COSTS": "float64", "ASSET_RECOVERY_COSTS": "float64", 
    "MISCELLANEOUS_HOLDING_EXPENSES_AND_CREDITS": "float64", "ASSOCIATED_TAXES_FOR_HOLDING_PROPERTY": "float64", 
    "NET_SALES_PROCEEDS": "float64", "CREDIT_ENHANCEMENT_PROCEEDS": "float64", 
    "REPURCHASES_MAKE_WHOLE_PROCEEDS": "float64", "OTHER_FORECLOSURE_PROCEEDS": "float64", 
    "NON_INTEREST_BEARING_UPB": "float64", "PRINCIPAL_FORGIVENESS_AMOUNT": "float64", 
    "ORIGINAL_LIST_START_DATE": "string", "ORIGINAL_LIST_PRICE": "float64", "CURRENT_LIST_START_DATE": "string", 
    "CURRENT_LIST_PRICE": "float64", "ISSUE_SCOREB": "float64", "ISSUE_SCOREC": "float64", "CURR_SCOREB": "float64", 
    "CURR_SCOREC": "float64", "MI_TYPE": "string", "SERV_IND": "string", 
    "CURRENT_PERIOD_MODIFICATION_LOSS_AMOUNT": "float64", "CUMULATIVE_MODIFICATION_LOSS_AMOUNT": "float64", 
    "CURRENT_PERIOD_CREDIT_EVENT_NET_GAIN_OR_LOSS": "float64", "CUMULATIVE_CREDIT_EVENT_NET_GAIN_OR_LOSS": "float64", 
    "HOMEREADY_PROGRAM_INDICATOR": "string", "FORECLOSURE_PRINCIPAL_WRITE_OFF_AMOUNT": "float64", 
    "RELOCATION_MORTGAGE_INDICATOR": "string", "ZERO_BALANCE_CODE_CHANGE_DATE": "string", 
    "LOAN_HOLDBACK_INDICATOR": "string", "LOAN_HOLDBACK_EFFECTIVE_DATE": "string", "DELINQUENT_ACCRUED_INTEREST": "float64", 
    "PROPERTY_INSPECTION_WAIVER_INDICATOR": "string", "HIGH_BALANCE_LOAN_INDICATOR": "string", 
    "ARM_5_YR_INDICATOR": "string", "ARM_PRODUCT_TYPE": "string", "MONTHS_UNTIL_FIRST_PAYMENT_RESET": "float64", 
    "MONTHS_BETWEEN_SUBSEQUENT_PAYMENT_RESET": "float64", "INTEREST_RATE_CHANGE_DATE": "string", 
    "PAYMENT_CHANGE_DATE": "string", "ARM_INDEX": "string", "ARM_CAP_STRUCTURE": "string", 
    "INITIAL_INTEREST_RATE_CAP": "float64", "PERIODIC_INTEREST_RATE_CAP": "float64", 
    "LIFETIME_INTEREST_RATE_CAP": "float64", "MARGIN": "float64", "BALLOON_INDICATOR": "string", 
    "PLAN_NUMBER": "string", "FORBEARANCE_INDICATOR": "string", "HIGH_LOAN_TO_VALUE_HLTV_REFINANCE_OPTION_INDICATOR": "string", 
    "DEAL_NAME": "string", "RE_PROCS_FLAG": "string", "ADR_TYPE": "string", "ADR_COUNT": "float64", 
    "ADR_UPB": "float64", "PAYMENT_DEFERRAL_MOD_EVENT_FLAG": "string", "INTEREST_BEARING_UPB": "float64"
}

In [3]:
file_path = '../data/raw/2016Q1.csv'
chunk_size = 100000
df = load_and_concat_csv(file_path, lppub_column_names, lppub_column_classes, chunk_size=chunk_size)
df.head(10)

,POOL_ID,LOAN_ID,ACT_PERIOD,CHANNEL,SELLER,SERVICER,MASTER_SERVICER,ORIG_RATE,CURR_RATE,ORIG_UPB,...,PLAN_NUMBER,FORBEARANCE_INDICATOR,HIGH_LOAN_TO_VALUE_HLTV_REFINANCE_OPTION_INDICATOR,DEAL_NAME,RE_PROCS_FLAG,ADR_TYPE,ADR_COUNT,ADR_UPB,PAYMENT_DEFERRAL_MOD_EVENT_FLAG,INTEREST_BEARING_UPB
0,<NA>,100000512540,022016,C,Franklin American Mortgage Company,Other,<NA>,3.75,3.75,65000.0,...,<NA>,<NA>,N,<NA>,<NA>,<NA>,NaN,NaN,7,NaN
1,<NA>,100000512540,032016,C,Franklin American Mortgage Company,Other,<NA>,3.75,3.75,65000.0,...,<NA>,<NA>,N,<NA>,<NA>,<NA>,NaN,NaN,7,NaN
2,<NA>,100000512540,042016,C,Franklin American Mortgage Company,Other,<NA>,3.75,3.75,65000.0,...,<NA>,<NA>,N,<NA>,<NA>,<NA>,NaN,NaN,7,NaN
3,<NA>,100000512540,052016,C,Franklin American Mortgage Company,Other,<NA>,3.75,3.75,65000.0,...,<NA>,<NA>,N,<NA>,<NA>,<NA>,NaN,NaN,7,NaN
4,<NA>,100000512540,062016,C,Franklin American Mortgage Company,Other,<NA>,3.75,3.75,65000.0,...,<NA>,<NA>,N,<NA>,<NA>,<NA>,NaN,NaN,7,NaN
5,<NA>,100000512540,072016,C,Franklin American Mortgage Company,Other,<NA>,3.75,3.75,65000.0,...,<NA>,<NA>,N,<NA>,<NA>,<NA>,NaN,NaN,7,NaN
6,<NA>,100000512540,082016,C,Franklin American Mortgage Company,Other,<NA>,3.75,3.75,65000.0,...,<NA>,<NA>,N,<NA>,<NA>,<NA>,NaN,NaN,7,NaN
7,<NA>,100000512540,092016,C,Franklin American Mortgage Company,Other,<NA>,3.75,3.75,65000.0,...,<NA>,<NA>,N,<NA>,<NA>,<NA>,NaN,NaN,7,NaN
8,<NA>,100000512540,102016,C,Franklin American Mortgage Company,Other,<NA>,3.75,3.75,65000.0,...,<NA>,<NA>,N,<NA>,<NA>,<NA>,NaN,NaN,7,NaN
9,<NA>,100000512540,112016,C,Franklin American Mortgage Company,Other,<NA>,3.75,3.75,65000.0,...,<NA>,<NA>,N,<NA>,<NA>,<NA>,NaN,NaN,7,NaN

In [4]:
threshold = 0.8 * len(df)
final_df = df.dropna(axis=1, thresh=threshold)
final_df.head(10)

,LOAN_ID,ACT_PERIOD,CHANNEL,SELLER,SERVICER,ORIG_RATE,CURR_RATE,ORIG_UPB,CURRENT_UPB,ORIG_TERM,...,PPMT_FLG,IO,DLQ_STATUS,MOD_FLAG,SERV_IND,HOMEREADY_PROGRAM_INDICATOR,RELOCATION_MORTGAGE_INDICATOR,HIGH_BALANCE_LOAN_INDICATOR,HIGH_LOAN_TO_VALUE_HLTV_REFINANCE_OPTION_INDICATOR,PAYMENT_DEFERRAL_MOD_EVENT_FLAG
0,100000512540,022016,C,Franklin American Mortgage Company,Other,3.75,3.75,65000.0,0.00,360.0,...,N,N,00,N,N,7,N,N,N,7
1,100000512540,032016,C,Franklin American Mortgage Company,Other,3.75,3.75,65000.0,0.00,360.0,...,N,N,00,N,N,7,N,N,N,7
2,100000512540,042016,C,Franklin American Mortgage Company,Other,3.75,3.75,65000.0,0.00,360.0,...,N,N,00,N,N,7,N,N,N,7
3,100000512540,052016,C,Franklin American Mortgage Company,Other,3.75,3.75,65000.0,0.00,360.0,...,N,N,00,N,N,7,N,N,N,7
4,100000512540,062016,C,Franklin American Mortgage Company,Other,3.75,3.75,65000.0,0.00,360.0,...,N,N,00,N,N,7,N,N,N,7
5,100000512540,072016,C,Franklin American Mortgage Company,Other,3.75,3.75,65000.0,0.00,360.0,...,N,N,00,N,N,7,N,N,N,7
6,100000512540,082016,C,Franklin American Mortgage Company,Other,3.75,3.75,65000.0,64208.14,360.0,...,N,N,00,N,N,7,N,N,N,7
7,100000512540,092016,C,Franklin American Mortgage Company,Other,3.75,3.75,65000.0,64107.76,360.0,...,N,N,00,N,N,7,N,N,N,7
8,100000512540,102016,C,Franklin American Mortgage Company,Other,3.75,3.75,65000.0,64006.42,360.0,...,N,N,00,N,N,7,N,N,N,7
9,100000512540,112016,C,Franklin American Mortgage Company,Other,3.75,3.75,65000.0,63904.76,360.0,...,N,N,00,N,N,7,N,N,N,7

In [5]:
print(final_df.columns)

Index(['LOAN_ID', 'ACT_PERIOD', 'CHANNEL', 'SELLER', 'SERVICER', 'ORIG_RATE',
       'CURR_RATE', 'ORIG_UPB', 'CURRENT_UPB', 'ORIG_TERM', 'ORIG_DATE',
       'FIRST_PAY', 'LOAN_AGE', 'REM_MONTHS', 'ADJ_REM_MONTHS', 'MATR_DT',
       'OLTV', 'OCLTV', 'NUM_BO', 'DTI', 'CSCORE_B', 'FIRST_FLAG', 'PURPOSE',
       'PROP', 'NO_UNITS', 'OCC_STAT', 'STATE', 'MSA', 'ZIP', 'PRODUCT',
       'PPMT_FLG', 'IO', 'DLQ_STATUS', 'MOD_FLAG', 'SERV_IND',
       'HOMEREADY_PROGRAM_INDICATOR', 'RELOCATION_MORTGAGE_INDICATOR',
       'HIGH_BALANCE_LOAN_INDICATOR',
       'HIGH_LOAN_TO_VALUE_HLTV_REFINANCE_OPTION_INDICATOR',
       'PAYMENT_DEFERRAL_MOD_EVENT_FLAG'],
      dtype='object')

In [6]:
string_columns = final_df.select_dtypes(include='string').columns
unique_values = {col: final_df[col].unique() for col in string_columns}
for col, values in unique_values.items():
    print(f"Unique values in column '{col}': {values}")

Unique values in column 'LOAN_ID': <StringArray>
['100000512540', '100000549022', '100003006281', '100003784303',
 '100004643080', '100005507460', '100007473914', '100009919815',
 '100010182021', '100011954065',
 ...
 '999978743737', '999979982534', '999981688908', '999983124397',
 '999983515120', '999985119166', '999988469950', '999992418879',
 '999992428316', '999992548116']
Length: 405925, dtype: string
Unique values in column 'ACT_PERIOD': <StringArray>
['022016', '032016', '042016', '052016', '062016', '072016', '082016',
 '092016', '102016', '112016', '122016', '012017', '022017', '032017',
 '042017', '052017', '062017', '072017', '082017', '092017', '102017',
 '112017', '122017', '012018', '022018', '032018', '042018', '052018',
 '062018', '072018', '082018', '092018', '102018', '112018', '122018',
 '012019', '022019', '032019', '042019', '052019', '062019', '072019',
 '082019', '092019', '102019', '112019', '122019', '012020', '022020',
 '032020', '042020', '052020', '062020', '072020', '082020', '092020',
 '102020', '112020', '122020', '012021', '022021', '032021', '042021',
 '052021', '062021', '072021', '082021', '092021', '102021', '112021',
 '122021', '012022', '022022', '032022', '042022', '052022', '062022',
 '072022', '082022', '092022', '102022', '112022', '122022', '012023',
 '022023', '032023', '042023', '052023', '062023', '072023', '082023',
 '092023', '102023', '112023', '122023', '012024', '022024', '032024',
 '012016']
Length: 99, dtype: string
Unique values in column 'CHANNEL': <StringArray>
['C', 'B', 'R']
Length: 3, dtype: string
Unique values in column 'SELLER': <StringArray>
[                                  'Franklin American Mortgage Company',
                                                                'Other',
                            'Jpmorgan Chase Bank, National Association',
                                                   'Quicken Loans Inc.',
                                                   'Quicken Loans, LLC',
                                                 'Rocket Mortgage, LLC',
                                                   'Flagstar Bank, Fsb',
                                                   'Flagstar Bank, FSB',
                                  'Flagstar Bank, National Association',
                                'Pmt Credit Risk Transfer Trust 2015-2',
                                'PMT Credit Risk Transfer Trust 2015-2',
 'United Shore Financial Services, Llc D/B/A United Wholesale Mortgage',
   'United Shore Financial Services, LLC dba United Wholesale Mortgage',
                                       'United Wholesale Mortgage, LLC',
                            'JPMorgan Chase Bank, National Association',
                                   'Provident Funding Associates, L.P.',
                                               'Wells Fargo Bank, N.A.',
                                                   'Loandepot.Com, Llc',
                                                   'loanDepot.com, LLC',
                                             'Nationstar Mortgage, Llc',
                                             'NationStar Mortgage, LLC',
                                              'Nationstar Mortgage LLC',
                                                        'Suntrust Bank',
                                 'Truist Bank (formerly SunTrust Bank)',
                                                   'Citimortgage, Inc.',
                                                   'CitiMortgage, Inc.',
                                                 'Stearns Lending, Llc',
                                                 'Stearns Lending, LLC',
                                                'Guaranteed Rate, Inc.',
                                               'Freedom Mortgage Corp.',
                                                 'Ditech Financial Llc',
                                      'Finance Of America Mortgage Llc',
                                      'Finance of America Mortgage LLC',
                                             'Caliber Home Loans, Inc.',
                                                 'Impac Mortgage Corp.',
                                                          'Truist Bank',
                                                       'U.S. Bank N.A.',
                                      'Amerihome Mortgage Company, Llc',
                                      'AmeriHome Mortgage Company, LLC',
                                                   'Rrac Spv-Fn2 Trust',
                                                 'Ditech Financial LLC',
                                                           'Bvrt Trust',
                                                      'Bay Equity, Llc']
Length: 43, dtype: string
Unique values in column 'SERVICER': <StringArray>
[                                               'Other',
                  'Citizens Bank, National Association',
                                                   <NA>,
                          'Pingora Loan Servicing, Llc',
                          'Pingora Loan Servicing, LLC',
                                 'Rocket Mortgage, LLC',
                             'Jp Morgan Chase Bank, Na',
                'Matrix Financial Services Corporation',
                                   'Quicken Loans Inc.',
                                   'Quicken Loans, Llc',
                                   'Quicken Loans, LLC',
                              'JPMorgan Chase Bank, NA',
                                       'Pennymac Corp.',
                                       'PennyMac Corp.',
                                         'Regions Bank',
                              'Jpmorgan Chase Bank, Na',
                   'Provident Funding Associates, L.P.',
                             'NationStar Mortgage, LLC',
                               'Wells Fargo Bank, N.A.',
            'Roundpoint Mortgage Servicing Corporation',
            'RoundPoint Mortgage Servicing Corporation',
                               'Freedom Mortgage Corp.',
                               'Guild Mortgage Company',
                           'Guild Mortgage Company LLC',
                         'Lakeview Loan Servicing, Llc',
                         'Lakeview Loan Servicing, LLC',
                             'Nationstar Mortgage, Llc',
                         'New Residential Mortgage Llc',
                         'New Residential Mortgage LLC',
                               'Suntrust Mortgage Inc.',
                                        'Suntrust Bank',
                 'Truist Bank (Formerly Suntrust Bank)',
                 'Truist Bank (formerly SunTrust Bank)',
                                     'Fifth Third Bank',
               'Fifth Third Bank, National Association',
                                   'Citimortgage, Inc.',
                                       'Pnc Bank, N.A.',
                                       'PNC Bank, N.A.',
                        'Seneca Mortgage Servicing Llc',
                                 'Ditech Financial Llc',
                              'Nationstar Mortgage LLC',
                             'Caliber Home Loans, Inc.',
                                          'Truist Bank',
                                       'U.S. Bank N.A.',
          'Redwood Residential Acquisition Corporation',
                             'Phh Mortgage Corporation',
                    'RoundPoint Mortgage Servicing LLC',
                                'Bank Of America, N.A.',
              'Fannie Mae/Seterus, Inc. As Subservicer',
 'Mortgage Access Corp.Dba Weichert Financial Services',
                                  'Axia Financial, Llc']
Length: 51, dtype: string
Unique values in column 'ORIG_DATE': <StringArray>
['122015', '012016', '032016', '022016', '112015', '102015', '092015',
 '082015', '032015', '012015', '062015', '052015', '042015', '072015',
 '122014', '022015', '072014', '042014', '102014', '062014', '082014',
 '052014', '092014', '012014', '032014', '102013', '112014', '082013',
 '022014']
Length: 29, dtype: string
Unique values in column 'FIRST_PAY': <StringArray>
['022016', '032016', '052016', '042016', '012016', '122015', '112015',
 '102015', '052015', '032015', '082015', '072015', '062015', '092015',
 '042015', '022015', '092014', '062014', '082014', '102014', '112014',
 '042014', '052014', '072014', '122014', '012015', '112013']
Length: 27, dtype: string
Unique values in column 'MATR_DT': <StringArray>
['012046', '022046', '042046',     <NA>, '032046', '122045', '122025',
 '022031', '112045', '082060',
 ...
 '092043', '102049', '092024', '112027', '052042', '072032', '102024',
 '032050', '072027', '072041']
Length: 382, dtype: string
Unique values in column 'NUM_BO': <StringArray>
['1', '2', '3', '4', '5', '6']
Length: 6, dtype: string
Unique values in column 'FIRST_FLAG': <StringArray>
['N', 'Y']
Length: 2, dtype: string
Unique values in column 'PURPOSE': <StringArray>
['C', 'P', 'R']
Length: 3, dtype: string
Unique values in column 'PROP': <StringArray>
['SF', 'PU', 'CO', 'MH', 'CP']
Length: 5, dtype: string
Unique values in column 'OCC_STAT': <StringArray>
['P', 'S', 'I']
Length: 3, dtype: string
Unique values in column 'STATE': <StringArray>
['GA', 'KS', 'IL', 'IN', 'TX', 'UT', 'MO', 'IA', 'OR', 'DE', 'CA', 'MI', 'KY',
 'CO', 'NY', 'PA', 'WI', 'WA', 'VA', 'AZ', 'MD', 'TN', 'MA', 'OH', 'SC', 'AK',
 'AL', 'LA', 'MN', 'NC', 'AR', 'MS', 'OK', 'NE', 'NJ', 'ID', 'FL', 'ND', 'NV',
 'NM', 'CT', 'VT', 'WV', 'DC', 'ME', 'SD', 'NH', 'MT', 'HI', 'PR', 'RI', 'WY',
 'VI', 'GU']
Length: 54, dtype: string
Unique values in column 'MSA': <StringArray>
['12260', '48620', '00000', '31140', '26420', '36260', '38900', '16980',
 '37980', '19100',
 ...
 '29940', '34620', '48540', '41140', '23460', '48700', '25980', '21300',
 '12980', '49500']
Length: 395, dtype: string
Unique values in column 'ZIP': <StringArray>
['308', '670', '623', '471', '773', '844', '638', '504', '972', '606',
 ...
 '409', '669',  <NA>, '102', '418', '772', '248', '414', '865', '417']
Length: 892, dtype: string
Unique values in column 'PRODUCT': <StringArray>
['FRM']
Length: 1, dtype: string
Unique values in column 'PPMT_FLG': <StringArray>
['N', <NA>]
Length: 2, dtype: string
Unique values in column 'IO': <StringArray>
['N', <NA>]
Length: 2, dtype: string
Unique values in column 'DLQ_STATUS': <StringArray>
['00', '01', 'XX', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
 '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
 '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37',
 '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50',
 '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63',
 '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76',
 '77', '78', '79', '80', '81', '82', '83', '84']
Length: 86, dtype: string
Unique values in column 'MOD_FLAG': <StringArray>
['N', <NA>, 'Y']
Length: 3, dtype: string
Unique values in column 'SERV_IND': <StringArray>
['N', 'Y', <NA>]
Length: 3, dtype: string
Unique values in column 'HOMEREADY_PROGRAM_INDICATOR': <StringArray>
['7', 'F', 'H']
Length: 3, dtype: string
Unique values in column 'RELOCATION_MORTGAGE_INDICATOR': <StringArray>
['N', 'Y']
Length: 2, dtype: string
Unique values in column 'HIGH_BALANCE_LOAN_INDICATOR': <StringArray>
['N', 'Y']
Length: 2, dtype: string
Unique values in column 'HIGH_LOAN_TO_VALUE_HLTV_REFINANCE_OPTION_INDICATOR': <StringArray>
['N']
Length: 1, dtype: string
Unique values in column 'PAYMENT_DEFERRAL_MOD_EVENT_FLAG': <StringArray>
['7']
Length: 1, dtype: string

In [7]:
def classify_seller(seller_name):
    # Convert to lowercase for consistent matching
    seller_name = seller_name.lower()

    # Define keywords for each seller category
    bank_keywords = [
        'bank', 'national association', 'credit union', 'fifth third', 
        'pnc', 'citizens', 'wells fargo', 'regions', 
        'suntrust', 'truist', 'jpmorgan', 'citi'
    ]
    
    mortgage_company_keywords = [
        'mortgage', 'lending', 'loan', 'servicing', 'financial', 
        'loandepot', 'pennymac', 'roundpoint', 
        'freedom', 'quicken', 'amerihome', 'guild', 'caliber'
    ]
    
    investor_keywords = [
        'trust', 'real estate investment trust', 'investment', 
        'fund', 'capital', 'group', 'acquisition'
    ]

    # Classification logic based on keywords
    if any(keyword in seller_name for keyword in bank_keywords):
        return 'Bank'
    elif any(keyword in seller_name for keyword in mortgage_company_keywords):
        return 'Mortgage Company'
    elif any(keyword in seller_name for keyword in investor_keywords):
        return 'Investor'
    else:
        return 'Other'

# Apply the classification function to the SELLER column
final_df['seller_type'] = final_df['SELLER'].apply(classify_seller)

# Display the final DataFrame with the new seller_type column
print(final_df['seller_type'].unique())

# # Create a mapping from standardized names to integers
# seller_mapping = {seller: idx for idx, seller in enumerate(final_df['standardized_seller'].unique())}


# # Map the standardized names to integers
# final_df['seller_id'] = final_df['standardized_seller'].map(seller_mapping)

/var/folders/v3/cmkg84dx72v_17xzs8_b0b900000gn/T/ipykernel_6345/2615605640.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['seller_type'] = final_df['SELLER'].apply(classify_seller)

['Mortgage Company' 'Other' 'Bank' 'Investor']

In [8]:
def classify_servicer_type(seller_name):
    # Convert to lowercase for consistent matching
    seller_name = seller_name.lower()
    
    # Define keywords for each category
    bank_keywords = [
        'bank', 'national association', 'credit union', 'fifth third', 
        'pnc', 'citizens bank', 'wells fargo', 'regions bank', 
        'suntrust', 'truist', 'jpmorgan', 'citi'
    ]
    
    mortgage_company_keywords = [
        'mortgage', 'lending', 'loan', 'servicing', 'financial', 
        'homeloans', 'loandepot', 'pennymac', 'roundpoint', 
        'freedom', 'quicken', 'amerihome', 'guild', 'caliber'
    ]
    
    # Check for keywords in the seller name
    if any(keyword in seller_name for keyword in bank_keywords):
        return 'Bank'
    elif any(keyword in seller_name for keyword in mortgage_company_keywords):
        return 'Mortgage Company'
    else:
        return 'Other'

# Apply the classification function to the SELLER column
final_df['servicer_type'] = final_df['SELLER'].apply(classify_servicer_type)
print(final_df['servicer_type'].unique())

/var/folders/v3/cmkg84dx72v_17xzs8_b0b900000gn/T/ipykernel_6345/115721331.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['servicer_type'] = final_df['SELLER'].apply(classify_servicer_type)

['Mortgage Company' 'Other' 'Bank']

In [9]:
## firstpayment date - orginal date = time_to_first_payment
## ADJ Rem month / ORIGNAL Term
## Num of borrow stirng to int
## First Flag N: 0 Y: 1
## Purpose: P: 0  C R U: 1
## PROP: SF: 0, PU: 1, CO: 2, MH: 3, CP: 4
## Occupancy Status: U: 0 P: 1 I: 2 S: 3
## State: Alphabet sorted 
## MSA/ZIP leave for comment
## Product abandon
## "DLQ_STATUS" (string to int)
## MOD FLAG remove NA (N: 0 Y: 1)
## SERV_IND  (N: 0 Y: 1)
## HOMEREADY_PROGRAM_INDICATOR: 7: 0 F: 1 H:2
## RELOCATION_MORTGAGE_INDICATOR N: 0 Y:1
## HIGH_BALANCE_LOAN_INDICATOR N: 0 Y:1
## ACT Period -> date time format YYYY MM

In [10]:

# ORIG_DATE FIRST_PAY MATR_DT not in datetime format right now, need to change later to


channel_map = {'C': 0, 'B': 1, 'R': 2}
final_df['CHANNEL'] = final_df['CHANNEL'].map(channel_map)


# 1. Calculate `time_to_first_payment` as the difference between `firstpayment` and `origination date`
# need do it later 

# 2. Calculate `ADJ Rem month / ORIG_TERM`
final_df['adjusted_remaining_ratio'] = final_df['ADJ_REM_MONTHS'] / final_df['ORIG_TERM']

# 3. Convert `NUM_BO` (number of borrowers) from string to integer
final_df['NUM_BO'] = pd.to_numeric(final_df['NUM_BO'], errors='coerce')

# 4. Convert `FIRST_FLAG` (N: 0, Y: 1)
final_df['FIRST_FLAG'] = final_df['FIRST_FLAG'].map({'N': 0, 'Y': 1})

# 5. Convert `PURPOSE` (P: 0, C/R/U: 1)
final_df['PURPOSE'] = final_df['PURPOSE'].map({'P': 0, 'C': 1, 'R': 1, 'U': 1})

# 6. Convert `PROP` (SF: 0, PU: 1, CO: 2, MH: 3, CP: 4)
prop_map = {'SF': 0, 'PU': 1, 'CO': 2, 'MH': 3, 'CP': 4}
final_df['PROP'] = final_df['PROP'].map(prop_map)

# 7. Convert `OCCUPANCY_STATUS` (U: 0, P: 1, I: 2, S: 3)
occupancy_map = {'U': 0, 'P': 1, 'I': 2, 'S': 3}
final_df['OCC_STAT'] = final_df['OCC_STAT'].map(occupancy_map)

# 8. Convert `STATE` to integers by alphabetically sorting unique values and assigning them numbers
# Provided list of states in the dataset
states = ['GA', 'KS', 'IL', 'IN', 'TX', 'UT', 'MO', 'IA', 'OR', 'DE', 'CA', 'MI', 'KY',
          'CO', 'NY', 'PA', 'WI', 'WA', 'VA', 'AZ', 'MD', 'TN', 'MA', 'OH', 'SC', 'AK',
          'AL', 'LA', 'MN', 'NC', 'AR', 'MS', 'OK', 'NE', 'NJ', 'ID', 'FL', 'ND', 'NV',
          'NM', 'CT', 'VT', 'WV', 'DC', 'ME', 'SD', 'NH', 'MT', 'HI', 'PR', 'RI', 'WY',
          'VI', 'GU']

# Sort states alphabetically and assign rank values starting from 1
state_mapping = {state: idx + 1 for idx, state in enumerate(sorted(states))}
final_df['STATE'] = final_df['STATE'].map(state_mapping)


# 9. Leave `MSA` and `ZIP` columns as-is for now, as instructed, need further exploration

# 10. Drop the `PRODUCT` column
final_df.drop(columns=['PRODUCT'], inplace=True)

# 11. Convert `DLQ_STATUS` from string to integer, treating non-numeric as NaN
final_df['DLQ_STATUS'] = pd.to_numeric(final_df['DLQ_STATUS'], errors='coerce')

# 12. Convert `MOD_FLAG` (N: 0, Y: 1), removing rows where `MOD_FLAG` is NA
final_df = final_df.dropna(subset=['MOD_FLAG'])
final_df['MOD_FLAG'] = final_df['MOD_FLAG'].map({'N': 0, 'Y': 1})

# 13. Convert `SERV_IND` (N: 0, Y: 1)
final_df['SERV_IND'] = final_df['SERV_IND'].map({'N': 0, 'Y': 1})

# 14. Convert `HOMEREADY_PROGRAM_INDICATOR` (7: 0, F: 1, H: 2)
final_df['HOMEREADY_PROGRAM_INDICATOR'] = final_df['HOMEREADY_PROGRAM_INDICATOR'].map({'7': 0, 'F': 1, 'H': 2})

# 15. Convert `RELOCATION_MORTGAGE_INDICATOR` (N: 0, Y: 1)
final_df['RELOCATION_MORTGAGE_INDICATOR'] = final_df['RELOCATION_MORTGAGE_INDICATOR'].map({'N': 0, 'Y': 1})

# 16. Convert `HIGH_BALANCE_LOAN_INDICATOR` (N: 0, Y: 1)
final_df['HIGH_BALANCE_LOAN_INDICATOR'] = final_df['HIGH_BALANCE_LOAN_INDICATOR'].map({'N': 0, 'Y': 1})

/var/folders/v3/cmkg84dx72v_17xzs8_b0b900000gn/T/ipykernel_6345/670336608.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['CHANNEL'] = final_df['CHANNEL'].map(channel_map)
/var/folders/v3/cmkg84dx72v_17xzs8_b0b900000gn/T/ipykernel_6345/670336608.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['adjusted_remaining_ratio'] = final_df['ADJ_REM_MONTHS'] / final_df['ORIG_TERM']
/var/folders/v3/cmkg84dx72v_17xzs8_b0b900000gn/T/ipykernel_6345/670336608.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['NUM_BO'] = pd.to_numeric(final_df['NUM_BO'], errors='coerce')
/var/folders/v3/cmkg84dx72v_17xzs8_b0b900000gn/T/ipykernel_6345/670336608.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['FIRST_FLAG'] = final_df['FIRST_FLAG'].map({'N': 0, 'Y': 1})
/var/folders/v3/cmkg84dx72v_17xzs8_b0b900000gn/T/ipykernel_6345/670336608.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['PURPOSE'] = final_df['PURPOSE'].map({'P': 0, 'C': 1, 'R': 1, 'U': 1})
/var/folders/v3/cmkg84dx72v_17xzs8_b0b900000gn/T/ipykernel_6345/670336608.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['PROP'] = final_df['PROP'].map(prop_map)
/var/folders/v3/cmkg84dx72v_17xzs8_b0b900000gn/T/ipykernel_6345/670336608.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['OCC_STAT'] = final_df['OCC_STAT'].map(occupancy_map)
/var/folders/v3/cmkg84dx72v_17xzs8_b0b900000gn/T/ipykernel_6345/670336608.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['STATE'] = final_df['STATE'].map(state_mapping)
/var/folders/v3/cmkg84dx72v_17xzs8_b0b900000gn/T/ipykernel_6345/670336608.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.drop(columns=['PRODUCT'], inplace=True)
/var/folders/v3/cmkg84dx72v_17xzs8_b0b900000gn/T/ipykernel_6345/670336608.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['DLQ_STATUS'] = pd.to_numeric(final_df['DLQ_STATUS'], errors='coerce')

In [11]:
#17 HIGH_LOAN_TO_VALUE_HLTV_REFINANCE_OPTION_INDICATOR
final_df['HIGH_LOAN_TO_VALUE_HLTV_REFINANCE_OPTION_INDICATOR'] = final_df['HIGH_LOAN_TO_VALUE_HLTV_REFINANCE_OPTION_INDICATOR'].map({'N': 0, 'Y': 1})

#18 PAYMENT_DEFERRAL_MOD_EVENT_FLAG
final_df['PAYMENT_DEFERRAL_MOD_EVENT_FLAG'] = final_df['PAYMENT_DEFERRAL_MOD_EVENT_FLAG'].map({'N': 0, 'Y': 1,'7': 2})
# Checking the data types and first few rows to confirm transformations

#19 PPMT_FLG
final_df['PPMT_FLG'] = final_df['PPMT_FLG'].map({'N': 0, 'Y': 1})

#20 IO
final_df['IO'] = final_df['IO'].map({'N': 0, 'Y': 1})

# Map classification categories to integers (Bank: 0, Mortgage Company: 1, Investor: 2, Other: 3)
seller_type_mapping = {'Bank': 0, 'Mortgage Company': 1, 'Other': 2, 'Investor': 3}
final_df['seller_type'] = final_df['seller_type'].map(seller_type_mapping)


Service_type_mapping = {'Bank': 0, 'Mortgage Company': 1, 'Other': 2}
final_df['servicer_type'] = final_df['servicer_type'].map(Service_type_mapping)



print(final_df.dtypes)

LOAN_ID                                                string
ACT_PERIOD                                             string
CHANNEL                                                 int64
SELLER                                                 string
SERVICER                                               string
ORIG_RATE                                             float64
CURR_RATE                                             float64
ORIG_UPB                                              float64
CURRENT_UPB                                           float64
ORIG_TERM                                             float64
ORIG_DATE                                              string
FIRST_PAY                                              string
LOAN_AGE                                              float64
REM_MONTHS                                            float64
ADJ_REM_MONTHS                                        float64
MATR_DT                                                string
OLTV                                                  float64
OCLTV                                                 float64
NUM_BO                                                  int64
DTI                                                   float64
CSCORE_B                                              float64
FIRST_FLAG                                              int64
PURPOSE                                                 int64
PROP                                                    int64
NO_UNITS                                              float64
OCC_STAT                                                int64
STATE                                                   int64
MSA                                                    string
ZIP                                                    string
PPMT_FLG                                              float64
IO                                                    float64
DLQ_STATUS                                            float64
MOD_FLAG                                                int64
SERV_IND                                              float64
HOMEREADY_PROGRAM_INDICATOR                             int64
RELOCATION_MORTGAGE_INDICATOR                           int64
HIGH_BALANCE_LOAN_INDICATOR                             int64
HIGH_LOAN_TO_VALUE_HLTV_REFINANCE_OPTION_INDICATOR      int64
PAYMENT_DEFERRAL_MOD_EVENT_FLAG                         int64
seller_type                                             int64
servicer_type                                           int64
adjusted_remaining_ratio                              float64
dtype: object

In [12]:
print(final_df.head(50))

         LOAN_ID ACT_PERIOD  CHANNEL                              SELLER  \
0   100000512540     022016        0  Franklin American Mortgage Company
1   100000512540     032016        0  Franklin American Mortgage Company
2   100000512540     042016        0  Franklin American Mortgage Company
3   100000512540     052016        0  Franklin American Mortgage Company
4   100000512540     062016        0  Franklin American Mortgage Company
5   100000512540     072016        0  Franklin American Mortgage Company
6   100000512540     082016        0  Franklin American Mortgage Company
7   100000512540     092016        0  Franklin American Mortgage Company
8   100000512540     102016        0  Franklin American Mortgage Company
9   100000512540     112016        0  Franklin American Mortgage Company
10  100000512540     122016        0  Franklin American Mortgage Company
11  100000512540     012017        0  Franklin American Mortgage Company
12  100000512540     022017        0  Franklin American Mortgage Company
13  100000512540     032017        0  Franklin American Mortgage Company
14  100000512540     042017        0  Franklin American Mortgage Company
15  100000512540     052017        0  Franklin American Mortgage Company
16  100000512540     062017        0  Franklin American Mortgage Company
17  100000512540     072017        0  Franklin American Mortgage Company
18  100000512540     082017        0  Franklin American Mortgage Company
19  100000512540     092017        0  Franklin American Mortgage Company
20  100000512540     102017        0  Franklin American Mortgage Company
21  100000512540     112017        0  Franklin American Mortgage Company
22  100000512540     122017        0  Franklin American Mortgage Company
23  100000512540     012018        0  Franklin American Mortgage Company
24  100000512540     022018        0  Franklin American Mortgage Company
25  100000512540     032018        0  Franklin American Mortgage Company
26  100000512540     042018        0  Franklin American Mortgage Company
27  100000512540     052018        0  Franklin American Mortgage Company
28  100000512540     062018        0  Franklin American Mortgage Company
29  100000512540     072018        0  Franklin American Mortgage Company
30  100000512540     082018        0  Franklin American Mortgage Company
31  100000512540     092018        0  Franklin American Mortgage Company
32  100000512540     102018        0  Franklin American Mortgage Company
33  100000512540     112018        0  Franklin American Mortgage Company
34  100000512540     122018        0  Franklin American Mortgage Company
35  100000512540     012019        0  Franklin American Mortgage Company
36  100000512540     022019        0  Franklin American Mortgage Company
37  100000512540     032019        0  Franklin American Mortgage Company
38  100000512540     042019        0  Franklin American Mortgage Company
39  100000512540     052019        0  Franklin American Mortgage Company
40  100000512540     062019        0  Franklin American Mortgage Company
41  100000512540     072019        0  Franklin American Mortgage Company
42  100000512540     082019        0  Franklin American Mortgage Company
43  100000512540     092019        0  Franklin American Mortgage Company
44  100000512540     102019        0  Franklin American Mortgage Company
45  100000512540     112019        0  Franklin American Mortgage Company
46  100000512540     122019        0  Franklin American Mortgage Company
47  100000512540     012020        0  Franklin American Mortgage Company
48  100000512540     022020        0  Franklin American Mortgage Company
49  100000512540     032020        0  Franklin American Mortgage Company

                               SERVICER  ORIG_RATE  CURR_RATE  ORIG_UPB  \
0                                 Other       3.75       3.75   65000.0
1                                 Other       3.75       3.75   65000.0
2                                 Other       3.75       3.75   65000.0
3                                 Other       3.75       3.75   65000.0
4                                 Other       3.75       3.75   65000.0
5                                 Other       3.75       3.75   65000.0
6                                 Other       3.75       3.75   65000.0
7                                 Other       3.75       3.75   65000.0
8                                 Other       3.75       3.75   65000.0
9                                 Other       3.75       3.75   65000.0
10                                Other       3.75       3.75   65000.0
11                                Other       3.75       3.75   65000.0
12                                Other       3.75       3.75   65000.0
13                                Other       3.75       3.75   65000.0
14                                Other       3.75       3.75   65000.0
15                                Other       3.75       3.75   65000.0
16                                Other       3.75       3.75   65000.0
17                                Other       3.75       3.75   65000.0
18                                Other       3.75       3.75   65000.0
19                                Other       3.75       3.75   65000.0
20                                Other       3.75       3.75   65000.0
21                                Other       3.75       3.75   65000.0
22                                Other       3.75       3.75   65000.0
23                                Other       3.75       3.75   65000.0
24                                Other       3.75       3.75   65000.0
25                                Other       3.75       3.75   65000.0
26                                Other       3.75       3.75   65000.0
27                                Other       3.75       3.75   65000.0
28                                Other       3.75       3.75   65000.0
29                                Other       3.75       3.75   65000.0
30  Citizens Bank, National Association       3.75       3.75   65000.0
31  Citizens Bank, National Association       3.75       3.75   65000.0
32  Citizens Bank, National Association       3.75       3.75   65000.0
33  Citizens Bank, National Association       3.75       3.75   65000.0
34  Citizens Bank, National Association       3.75       3.75   65000.0
35  Citizens Bank, National Association       3.75       3.75   65000.0
36  Citizens Bank, National Association       3.75       3.75   65000.0
37  Citizens Bank, National Association       3.75       3.75   65000.0
38  Citizens Bank, National Association       3.75       3.75   65000.0
39  Citizens Bank, National Association       3.75       3.75   65000.0
40  Citizens Bank, National Association       3.75       3.75   65000.0
41  Citizens Bank, National Association       3.75       3.75   65000.0
42  Citizens Bank, National Association       3.75       3.75   65000.0
43  Citizens Bank, National Association       3.75       3.75   65000.0
44  Citizens Bank, National Association       3.75       3.75   65000.0
45  Citizens Bank, National Association       3.75       3.75   65000.0
46  Citizens Bank, National Association       3.75       3.75   65000.0
47  Citizens Bank, National Association       3.75       3.75   65000.0
48  Citizens Bank, National Association       3.75       3.75   65000.0
49  Citizens Bank, National Association       3.75       3.75   65000.0

    CURRENT_UPB  ORIG_TERM  ... MOD_FLAG SERV_IND  \
0          0.00      360.0  ...        0      0.0
1          0.00      360.0  ...        0      0.0
2          0.00      360.0  ...        0      0.0
3          0.00      360.0  ...        0      0.0
4          0.00      360.0  ...        0      0.0
5          0.00      360.0  ...        0      0.0
6      64208.14      360.0  ...        0      0.0
7      64107.76      360.0  ...        0      0.0
8      64006.42      360.0  ...        0      0.0
9      63904.76      360.0  ...        0      0.0
10     63802.78      360.0  ...        0      0.0
11     63700.48      360.0  ...        0      0.0
12     63597.86      360.0  ...        0      0.0
13     63494.92      360.0  ...        0      0.0
14     63391.66      360.0  ...        0      0.0
15     63288.08      360.0  ...        0      0.0
16     63184.18      360.0  ...        0      0.0
17     63080.60      360.0  ...        0      0.0
18     62976.70      360.0  ...        0      0.0
19     62872.47      360.0  ...        0      0.0
20     62767.92      360.0  ...        0      0.0
21     62663.04      360.0  ...        0      0.0
22     62557.83      360.0  ...        0      0.0
23     62452.29      360.0  ...        0      0.0
24     62343.78      360.0  ...        0      0.0
25     62234.93      360.0  ...        0      0.0
26     62125.74      360.0  ...        0      0.0
27     62016.21      360.0  ...        0      0.0
28     61906.34      360.0  ...        0      0.0
29     61777.82      360.0  ...        0      0.0
30     61548.90      360.0  ...        0      1.0
31     61319.26      360.0  ...        0      0.0
32     61088.90      360.0  ...        0      0.0
33     60857.82      360.0  ...        0      0.0
34     60626.02      360.0  ...        0      0.0
35     60393.50      360.0  ...        0      0.0
36     60160.25      360.0  ...        0      0.0
37     59926.27      360.0  ...        0      0.0
38     59691.56      360.0  ...        0      0.0
39     59456.12      360.0  ...        0      0.0
40     59456.12      360.0  ...        0      0.0
41     59219.94      360.0  ...        0      1.0
42     58806.44      360.0  ...        0      0.0
43     58598.72      360.0  ...        0      0.0
44     58390.35      360.0  ...        0      0.0
45     58181.33      360.0  ...        0      0.0
46     57971.66      360.0  ...        0      0.0
47     56758.21      360.0  ...        0      0.0
48     55540.96      360.0  ...        0      0.0
49     54319.91      360.0  ...        0      0.0

    HOMEREADY_PROGRAM_INDICATOR  RELOCATION_MORTGAGE_INDICATOR  \
0                             0                              0
1                             0                              0
2                             0                              0
3                             0                              0
4                             0                              0
5                             0                              0
6                             0                              0
7                             0                              0
8                             0                              0
9                             0                              0
10                            0                              0
11                            0                              0
12                            0                              0
13                            0                              0
14                            0                              0
15                            0                              0
16                            0                              0
17                            0                              0
18                            0                              0
19                            0                              0
20                            0                              0
21                            0                              0
22                            0                              0
23                            0                              0
24                            0                              0
25                            0                              0
26                            0                              0
27                            0                              0
28                            0                              0
29                            0                              0
30                            0                              0
31                            0                              0
32                            0                              0
33                            0                              0
34                            0                              0
35                            0                              0
36                            0                              0
37                            0                              0
38                            0                              0
39                            0                              0
40                            0                              0
41                            0                              0
42                            0                              0
43                            0                              0
44                            0                              0
45                            0                              0
46                            0                              0
47                            0                              0
48                            0                              0
49                            0                              0

    HIGH_BALANCE_LOAN_INDICATOR  \
0                             0
1                             0
2                             0
3                             0
4                             0
5                             0
6                             0
7                             0
8                             0
9                             0
10                            0
11                            0
12                            0
13                            0
14                            0
15                            0
16                            0
17                            0
18                            0
19                            0
20                            0
21                            0
22                            0
23                            0
24                            0
25                            0
26                            0
27                            0
28                            0
29                            0
30                            0
31                            0
32                            0
33                            0
34                            0
35                            0
36                            0
37                            0
38                            0
39                            0
40                            0
41                            0
42                            0
43                            0
44                            0
45                            0
46                            0
47                            0
48                            0
49                            0

   HIGH_LOAN_TO_VALUE_HLTV_REFINANCE_OPTION_INDICATOR  \
0                                                   0
1                                                   0
2                                                   0
3                                                   0
4                                                   0
5                                                   0
6                                                   0
7                                                   0
8                                                   0
9                                                   0
10                                                  0
11                                                  0
12                                                  0
13                                                  0
14                                                  0
15                                                  0
16                                                  0
17                                                  0
18                                                  0
19                                                  0
20                                                  0
21                                                  0
22                                                  0
23                                                  0
24                                                  0
25                                                  0
26                                                  0
27                                                  0
28                                                  0
29                                                  0
30                                                  0
31                                                  0
32                                                  0
33                                                  0
34                                                  0
35                                                  0
36                                                  0
37                                                  0
38                                                  0
39                                                  0
40                                                  0
41                                                  0
42                                                  0
43                                                  0
44                                                  0
45                                                  0
46                                                  0
47                                                  0
48                                                  0
49                                                  0

    PAYMENT_DEFERRAL_MOD_EVENT_FLAG  seller_type  servicer_type  \
0                                 2            1              1
1                                 2            1              1
2                                 2            1              1
3                                 2            1              1
4                                 2            1              1
5                                 2            1              1
6                                 2            1              1
7                                 2            1              1
8                                 2            1              1
9                                 2            1              1
10                                2            1              1
11                                2            1              1
12                                2            1              1
13                                2            1              1
14                                2            1              1
15                                2            1              1
16                                2            1              1
17                                2            1              1
18                                2            1              1
19                                2            1              1
20                                2            1              1
21                                2            1              1
22                                2            1              1
23                                2            1              1
24                                2            1              1
25                                2            1              1
26                                2            1              1
27                                2            1              1
28                                2            1              1
29                                2            1              1
30                                2            1              1
31                                2            1              1
32                                2            1              1
33                                2            1              1
34                                2            1              1
35                                2            1              1

In [13]:
# Count the number of NaN values in each column in the dataset
nan_counts = final_df.isna().sum()

# Display columns with NaN values and their counts
nan_counts[nan_counts > 0]

SERVICER                       253
LOAN_AGE                       253
REM_MONTHS                     253
ADJ_REM_MONTHS              142174
MATR_DT                        253
DTI                           6505
CSCORE_B                      9584
ZIP                             41
PPMT_FLG                         6
IO                               6
DLQ_STATUS                       2
SERV_IND                       253
adjusted_remaining_ratio    142174
dtype: int64

In [14]:
# Drop rows with NaN values in the specified columns and save the cleaned DataFrame to a CSV file

# Specify columns with NaN values to drop
columns_with_nan = [
    'SERVICER', 'LOAN_AGE', 'REM_MONTHS', 'ADJ_REM_MONTHS', 'MATR_DT',
    'DTI', 'CSCORE_B', 'ZIP', 'PPMT_FLG', 'IO', 'DLQ_STATUS', 
    'SERV_IND', 'adjusted_remaining_ratio'
]

# Drop rows with NaN values in these columns
cleaned_df = final_df.dropna(subset=columns_with_nan)
final_df = final_df.drop(columns=['SELLER','SERVICER' 'ORIG_DATE','FIRST_PAY','MSA','ZIP'], errors='ignore')

In [15]:
final_df.head(10)

,LOAN_ID,ACT_PERIOD,CHANNEL,SERVICER,ORIG_RATE,CURR_RATE,ORIG_UPB,CURRENT_UPB,ORIG_TERM,ORIG_DATE,...,MOD_FLAG,SERV_IND,HOMEREADY_PROGRAM_INDICATOR,RELOCATION_MORTGAGE_INDICATOR,HIGH_BALANCE_LOAN_INDICATOR,HIGH_LOAN_TO_VALUE_HLTV_REFINANCE_OPTION_INDICATOR,PAYMENT_DEFERRAL_MOD_EVENT_FLAG,seller_type,servicer_type,adjusted_remaining_ratio
0,100000512540,022016,0,Other,3.75,3.75,65000.0,0.00,360.0,122015,...,0,0.0,0,0,0,0,2,1,1,0.997222
1,100000512540,032016,0,Other,3.75,3.75,65000.0,0.00,360.0,122015,...,0,0.0,0,0,0,0,2,1,1,0.991667
2,100000512540,042016,0,Other,3.75,3.75,65000.0,0.00,360.0,122015,...,0,0.0,0,0,0,0,2,1,1,0.988889
3,100000512540,052016,0,Other,3.75,3.75,65000.0,0.00,360.0,122015,...,0,0.0,0,0,0,0,2,1,1,0.986111
4,100000512540,062016,0,Other,3.75,3.75,65000.0,0.00,360.0,122015,...,0,0.0,0,0,0,0,2,1,1,0.983333
5,100000512540,072016,0,Other,3.75,3.75,65000.0,0.00,360.0,122015,...,0,0.0,0,0,0,0,2,1,1,0.980556
6,100000512540,082016,0,Other,3.75,3.75,65000.0,64208.14,360.0,122015,...,0,0.0,0,0,0,0,2,1,1,0.977778
7,100000512540,092016,0,Other,3.75,3.75,65000.0,64107.76,360.0,122015,...,0,0.0,0,0,0,0,2,1,1,0.975000
8,100000512540,102016,0,Other,3.75,3.75,65000.0,64006.42,360.0,122015,...,0,0.0,0,0,0,0,2,1,1,0.972222
9,100000512540,112016,0,Other,3.75,3.75,65000.0,63904.76,360.0,122015,...,0,0.0,0,0,0,0,2,1,1,0.969444

In [18]:
output_path = "../data/final_16Q1.csv"
final_df.to_csv(output_path, index=False)

KeyboardInterrupt:

In [16]:
print("update")

update