## Import

In [1]:
# from pyspark.sql import SparkSession
import pandas as pd
import warnings
import sys
sys.path.append('../src')
from data import load_and_concat_csv, analyze_dataframe, visualize_NA_percentage
warnings.simplefilter(action='ignore', category=pd.errors.DtypeWarning)
print("Package Imported")

Matplotlib is building the font cache; this may take a moment.

Package Imported

In [3]:
# Define the Loan Performance table headers and data types
lppub_column_names = [
    "POOL_ID", "LOAN_ID", "ACT_PERIOD", "CHANNEL", "SELLER", "SERVICER",
    "MASTER_SERVICER", "ORIG_RATE", "CURR_RATE", "ORIG_UPB", "ISSUANCE_UPB",
    "CURRENT_UPB", "ORIG_TERM", "ORIG_DATE", "FIRST_PAY", "LOAN_AGE",
    "REM_MONTHS", "ADJ_REM_MONTHS", "MATR_DT", "OLTV", "OCLTV",
    "NUM_BO", "DTI", "CSCORE_B", "CSCORE_C", "FIRST_FLAG", "PURPOSE",
    "PROP", "NO_UNITS", "OCC_STAT", "STATE", "MSA", "ZIP", "MI_PCT",
    "PRODUCT", "PPMT_FLG", "IO", "FIRST_PAY_IO", "MNTHS_TO_AMTZ_IO",
    "DLQ_STATUS", "PMT_HISTORY", "MOD_FLAG", "MI_CANCEL_FLAG", "Zero_Bal_Code",
    "ZB_DTE", "LAST_UPB", "RPRCH_DTE", "CURR_SCHD_PRNCPL", "TOT_SCHD_PRNCPL",
    "UNSCHD_PRNCPL_CURR", "LAST_PAID_INSTALLMENT_DATE", "FORECLOSURE_DATE",
    "DISPOSITION_DATE", "FORECLOSURE_COSTS", "PROPERTY_PRESERVATION_AND_REPAIR_COSTS",
    "ASSET_RECOVERY_COSTS", "MISCELLANEOUS_HOLDING_EXPENSES_AND_CREDITS",
    "ASSOCIATED_TAXES_FOR_HOLDING_PROPERTY", "NET_SALES_PROCEEDS",
    "CREDIT_ENHANCEMENT_PROCEEDS", "REPURCHASES_MAKE_WHOLE_PROCEEDS",
    "OTHER_FORECLOSURE_PROCEEDS", "NON_INTEREST_BEARING_UPB", "PRINCIPAL_FORGIVENESS_AMOUNT",
    "ORIGINAL_LIST_START_DATE", "ORIGINAL_LIST_PRICE", "CURRENT_LIST_START_DATE",
    "CURRENT_LIST_PRICE", "ISSUE_SCOREB", "ISSUE_SCOREC", "CURR_SCOREB",
    "CURR_SCOREC", "MI_TYPE", "SERV_IND", "CURRENT_PERIOD_MODIFICATION_LOSS_AMOUNT",
    "CUMULATIVE_MODIFICATION_LOSS_AMOUNT", "CURRENT_PERIOD_CREDIT_EVENT_NET_GAIN_OR_LOSS",
    "CUMULATIVE_CREDIT_EVENT_NET_GAIN_OR_LOSS", "HOMEREADY_PROGRAM_INDICATOR",
    "FORECLOSURE_PRINCIPAL_WRITE_OFF_AMOUNT", "RELOCATION_MORTGAGE_INDICATOR",
    "ZERO_BALANCE_CODE_CHANGE_DATE", "LOAN_HOLDBACK_INDICATOR", "LOAN_HOLDBACK_EFFECTIVE_DATE",
    "DELINQUENT_ACCRUED_INTEREST", "PROPERTY_INSPECTION_WAIVER_INDICATOR",
    "HIGH_BALANCE_LOAN_INDICATOR", "ARM_5_YR_INDICATOR", "ARM_PRODUCT_TYPE",
    "MONTHS_UNTIL_FIRST_PAYMENT_RESET", "MONTHS_BETWEEN_SUBSEQUENT_PAYMENT_RESET",
    "INTEREST_RATE_CHANGE_DATE", "PAYMENT_CHANGE_DATE", "ARM_INDEX",
    "ARM_CAP_STRUCTURE", "INITIAL_INTEREST_RATE_CAP", "PERIODIC_INTEREST_RATE_CAP",
    "LIFETIME_INTEREST_RATE_CAP", "MARGIN", "BALLOON_INDICATOR",
    "PLAN_NUMBER", "FORBEARANCE_INDICATOR", "HIGH_LOAN_TO_VALUE_HLTV_REFINANCE_OPTION_INDICATOR",
    "DEAL_NAME", "RE_PROCS_FLAG", "ADR_TYPE", "ADR_COUNT", "ADR_UPB", "PAYMENT_DEFERRAL_MOD_EVENT_FLAG", "INTEREST_BEARING_UPB"
]

# Define column data types as a dictionary
lppub_column_classes = {
    "POOL_ID": "string", "LOAN_ID": "string", "ACT_PERIOD": "string", "CHANNEL": "string", "SELLER": "string", 
    "SERVICER": "string", "MASTER_SERVICER": "string", "ORIG_RATE": "float64", "CURR_RATE": "float64",
    "ORIG_UPB": "float64", "ISSUANCE_UPB": "float64", "CURRENT_UPB": "float64", "ORIG_TERM": "float64", 
    "ORIG_DATE": "string", "FIRST_PAY": "string", "LOAN_AGE": "float64", "REM_MONTHS": "float64", 
    "ADJ_REM_MONTHS": "float64", "MATR_DT": "string", "OLTV": "float64", "OCLTV": "float64", 
    "NUM_BO": "string", "DTI": "float64", "CSCORE_B": "float64", "CSCORE_C": "float64", "FIRST_FLAG": "string", 
    "PURPOSE": "string", "PROP": "string", "NO_UNITS": "float64", "OCC_STAT": "string", "STATE": "string", 
    "MSA": "string", "ZIP": "string", "MI_PCT": "float64", "PRODUCT": "string", "PPMT_FLG": "string", 
    "IO": "string", "FIRST_PAY_IO": "string", "MNTHS_TO_AMTZ_IO": "float64", "DLQ_STATUS": "string", 
    "PMT_HISTORY": "string", "MOD_FLAG": "string", "MI_CANCEL_FLAG": "string", "Zero_Bal_Code": "string", 
    "ZB_DTE": "string", "LAST_UPB": "float64", "RPRCH_DTE": "string", "CURR_SCHD_PRNCPL": "float64", 
    "TOT_SCHD_PRNCPL": "float64", "UNSCHD_PRNCPL_CURR": "float64", "LAST_PAID_INSTALLMENT_DATE": "string", 
    "FORECLOSURE_DATE": "string", "DISPOSITION_DATE": "string", "FORECLOSURE_COSTS": "float64", 
    "PROPERTY_PRESERVATION_AND_REPAIR_COSTS": "float64", "ASSET_RECOVERY_COSTS": "float64", 
    "MISCELLANEOUS_HOLDING_EXPENSES_AND_CREDITS": "float64", "ASSOCIATED_TAXES_FOR_HOLDING_PROPERTY": "float64", 
    "NET_SALES_PROCEEDS": "float64", "CREDIT_ENHANCEMENT_PROCEEDS": "float64", 
    "REPURCHASES_MAKE_WHOLE_PROCEEDS": "float64", "OTHER_FORECLOSURE_PROCEEDS": "float64", 
    "NON_INTEREST_BEARING_UPB": "float64", "PRINCIPAL_FORGIVENESS_AMOUNT": "float64", 
    "ORIGINAL_LIST_START_DATE": "string", "ORIGINAL_LIST_PRICE": "float64", "CURRENT_LIST_START_DATE": "string", 
    "CURRENT_LIST_PRICE": "float64", "ISSUE_SCOREB": "float64", "ISSUE_SCOREC": "float64", "CURR_SCOREB": "float64", 
    "CURR_SCOREC": "float64", "MI_TYPE": "string", "SERV_IND": "string", 
    "CURRENT_PERIOD_MODIFICATION_LOSS_AMOUNT": "float64", "CUMULATIVE_MODIFICATION_LOSS_AMOUNT": "float64", 
    "CURRENT_PERIOD_CREDIT_EVENT_NET_GAIN_OR_LOSS": "float64", "CUMULATIVE_CREDIT_EVENT_NET_GAIN_OR_LOSS": "float64", 
    "HOMEREADY_PROGRAM_INDICATOR": "string", "FORECLOSURE_PRINCIPAL_WRITE_OFF_AMOUNT": "float64", 
    "RELOCATION_MORTGAGE_INDICATOR": "string", "ZERO_BALANCE_CODE_CHANGE_DATE": "string", 
    "LOAN_HOLDBACK_INDICATOR": "string", "LOAN_HOLDBACK_EFFECTIVE_DATE": "string", "DELINQUENT_ACCRUED_INTEREST": "float64", 
    "PROPERTY_INSPECTION_WAIVER_INDICATOR": "string", "HIGH_BALANCE_LOAN_INDICATOR": "string", 
    "ARM_5_YR_INDICATOR": "string", "ARM_PRODUCT_TYPE": "string", "MONTHS_UNTIL_FIRST_PAYMENT_RESET": "float64", 
    "MONTHS_BETWEEN_SUBSEQUENT_PAYMENT_RESET": "float64", "INTEREST_RATE_CHANGE_DATE": "string", 
    "PAYMENT_CHANGE_DATE": "string", "ARM_INDEX": "string", "ARM_CAP_STRUCTURE": "string", 
    "INITIAL_INTEREST_RATE_CAP": "float64", "PERIODIC_INTEREST_RATE_CAP": "float64", 
    "LIFETIME_INTEREST_RATE_CAP": "float64", "MARGIN": "float64", "BALLOON_INDICATOR": "string", 
    "PLAN_NUMBER": "string", "FORBEARANCE_INDICATOR": "string", "HIGH_LOAN_TO_VALUE_HLTV_REFINANCE_OPTION_INDICATOR": "string", 
    "DEAL_NAME": "string", "RE_PROCS_FLAG": "string", "ADR_TYPE": "string", "ADR_COUNT": "float64", 
    "ADR_UPB": "float64", "PAYMENT_DEFERRAL_MOD_EVENT_FLAG": "string", "INTEREST_BEARING_UPB": "float64"
}

In [4]:
file_path = '../data/raw/2016Q1.csv'
chunk_size = 100000
df = load_and_concat_csv(file_path, lppub_column_names, lppub_column_classes, chunk_size=chunk_size)
df.head(10)

,POOL_ID,LOAN_ID,ACT_PERIOD,CHANNEL,SELLER,SERVICER,MASTER_SERVICER,ORIG_RATE,CURR_RATE,ORIG_UPB,...,PLAN_NUMBER,FORBEARANCE_INDICATOR,HIGH_LOAN_TO_VALUE_HLTV_REFINANCE_OPTION_INDICATOR,DEAL_NAME,RE_PROCS_FLAG,ADR_TYPE,ADR_COUNT,ADR_UPB,PAYMENT_DEFERRAL_MOD_EVENT_FLAG,INTEREST_BEARING_UPB
0,<NA>,100000512540,022016,C,Franklin American Mortgage Company,Other,<NA>,3.75,3.75,65000.0,...,<NA>,<NA>,N,<NA>,<NA>,<NA>,NaN,NaN,7,NaN
1,<NA>,100000512540,032016,C,Franklin American Mortgage Company,Other,<NA>,3.75,3.75,65000.0,...,<NA>,<NA>,N,<NA>,<NA>,<NA>,NaN,NaN,7,NaN
2,<NA>,100000512540,042016,C,Franklin American Mortgage Company,Other,<NA>,3.75,3.75,65000.0,...,<NA>,<NA>,N,<NA>,<NA>,<NA>,NaN,NaN,7,NaN
3,<NA>,100000512540,052016,C,Franklin American Mortgage Company,Other,<NA>,3.75,3.75,65000.0,...,<NA>,<NA>,N,<NA>,<NA>,<NA>,NaN,NaN,7,NaN
4,<NA>,100000512540,062016,C,Franklin American Mortgage Company,Other,<NA>,3.75,3.75,65000.0,...,<NA>,<NA>,N,<NA>,<NA>,<NA>,NaN,NaN,7,NaN
5,<NA>,100000512540,072016,C,Franklin American Mortgage Company,Other,<NA>,3.75,3.75,65000.0,...,<NA>,<NA>,N,<NA>,<NA>,<NA>,NaN,NaN,7,NaN
6,<NA>,100000512540,082016,C,Franklin American Mortgage Company,Other,<NA>,3.75,3.75,65000.0,...,<NA>,<NA>,N,<NA>,<NA>,<NA>,NaN,NaN,7,NaN
7,<NA>,100000512540,092016,C,Franklin American Mortgage Company,Other,<NA>,3.75,3.75,65000.0,...,<NA>,<NA>,N,<NA>,<NA>,<NA>,NaN,NaN,7,NaN
8,<NA>,100000512540,102016,C,Franklin American Mortgage Company,Other,<NA>,3.75,3.75,65000.0,...,<NA>,<NA>,N,<NA>,<NA>,<NA>,NaN,NaN,7,NaN
9,<NA>,100000512540,112016,C,Franklin American Mortgage Company,Other,<NA>,3.75,3.75,65000.0,...,<NA>,<NA>,N,<NA>,<NA>,<NA>,NaN,NaN,7,NaN

In [5]:
analyze_dataframe(df)

Distribution of POOL_ID:
Series([], Name: count, dtype: Int64)

Distribution of LOAN_ID:
LOAN_ID
881072445661    99
391107441034    99
119320450882    99
345321563419    99
562413793760    99
                ..
123665380528     2
853722515935     2
438202290904     2
855539706857     2
634487410259     2
Name: count, Length: 405925, dtype: Int64

Distribution of ACT_PERIOD:
ACT_PERIOD
032016    405783
042016    405220
052016    404182
062016    402517
072016    400107
           ...
112023    107246
122023    106678
012024    106068
022024    105473
032024    104921
Name: count, Length: 99, dtype: Int64

Distribution of CHANNEL:
CHANNEL
R    14762185
C     6821751
B     2279486
Name: count, dtype: Int64

Distribution of SELLER:
SELLER
Other                                                                   12992701
Wells Fargo Bank, N.A.                                                   2943295
Quicken Loans Inc.                                                       1242278
Franklin American Mortgage Company                                        581250
Flagstar Bank, Fsb                                                        479039
Jpmorgan Chase Bank, National Association                                 465098
Suntrust Bank                                                             371964
U.S. Bank N.A.                                                            307364
Freedom Mortgage Corp.                                                    281459
Rocket Mortgage, LLC                                                      263717
Nationstar Mortgage, Llc                                                  250747
United Shore Financial Services, Llc D/B/A United Wholesale Mortgage      245605
Ditech Financial Llc                                                      223022
Citimortgage, Inc.                                                        220658
Provident Funding Associates, L.P.                                        214949
Loandepot.Com, Llc                                                        211337
Caliber Home Loans, Inc.                                                  209001
Stearns Lending, Llc                                                      205167
JPMorgan Chase Bank, National Association                                 192859
Pmt Credit Risk Transfer Trust 2015-2                                     192444
Finance Of America Mortgage Llc                                           163298
Quicken Loans, LLC                                                        163056
Amerihome Mortgage Company, Llc                                           155931
Flagstar Bank, FSB                                                        149509
Truist Bank (formerly SunTrust Bank)                                      149302
Impac Mortgage Corp.                                                      122145
CitiMortgage, Inc.                                                        107958
Ditech Financial LLC                                                       90948
loanDepot.com, LLC                                                         78257
United Wholesale Mortgage, LLC                                             77133
NationStar Mortgage, LLC                                                   68241
PMT Credit Risk Transfer Trust 2015-2                                      65175
AmeriHome Mortgage Company, LLC                                            60126
Finance of America Mortgage LLC                                            59022
Stearns Lending, LLC                                                       49653
Flagstar Bank, National Association                                        43679
Guaranteed Rate, Inc.                                                      40394
Bvrt Trust                                                                 34800
Truist Bank                                                                34055
Rrac Spv-Fn2 Trust                                                         22500
United Shore Financial Services, LLC dba United Wholesale Mortgage         20380
Nationstar Mortgage LLC                                                    12191
Bay Equity, Llc                                                             1715
Name: count, dtype: Int64

Distribution of SERVICER:
SERVICER
Other                                                   10376814
Wells Fargo Bank, N.A.                                   3105527
Quicken Loans Inc.                                       1169535
Matrix Financial Services Corporation                    1002277
Pingora Loan Servicing, Llc                               616652
Lakeview Loan Servicing, Llc                              508008
New Residential Mortgage LLC                              471207
Freedom Mortgage Corp.                                    442298
Jp Morgan Chase Bank, Na                                  421007
Pennymac Corp.                                            411145
Citizens Bank, National Association                       391546
New Residential Mortgage Llc                              349445
JPMorgan Chase Bank, NA                                   340749
Roundpoint Mortgage Servicing Corporation                 316635
Rocket Mortgage, LLC                                      316100
Suntrust Mortgage Inc.                                    247855
Pnc Bank, N.A.                                            230382
U.S. Bank N.A.                                            230203
Truist Bank (formerly SunTrust Bank)                      198450
PNC Bank, N.A.                                            198354
Pingora Loan Servicing, LLC                               176156
Ditech Financial Llc                                      171688
Suntrust Bank                                             168504
PennyMac Corp.                                            166499
Fifth Third Bank, National Association                    161616
Provident Funding Associates, L.P.                        157423
Lakeview Loan Servicing, LLC                              157062
Quicken Loans, LLC                                        145234
Regions Bank                                              123112
Nationstar Mortgage, Llc                                  119872
Caliber Home Loans, Inc.                                   97198
Citimortgage, Inc.                                         96728
Jpmorgan Chase Bank, Na                                    77026
Seneca Mortgage Servicing Llc                              62919
Truist Bank (Formerly Suntrust Bank)                       52278
Quicken Loans, Llc                                         47032
Truist Bank                                                46433
Fifth Third Bank                                           46155
RoundPoint Mortgage Servicing Corporation                  37127
Nationstar Mortgage LLC                                    29439
Guild Mortgage Company LLC                                 27799
NationStar Mortgage, LLC                                   17625
Phh Mortgage Corporation                                   17176
Redwood Residential Acquisition Corporation                 8225
Guild Mortgage Company                                      6940
Bank Of America, N.A.                                        240
Fannie Mae/Seterus, Inc. As Subservicer                       39
RoundPoint Mortgage Servicing LLC                             25
Mortgage Access Corp.Dba Weichert Financial Services          18
Axia Financial, Llc                                           12
Name: count, dtype: Int64

Distribution of MASTER_SERVICER:
Series([], Name: count, dtype: Int64)

Distribution of ORIG_RATE:
count    2.386342e+07
mean     4.005179e+00
std      4.707837e-01
min      2.250000e+00
25%      3.750000e+00
50%      4.000000e+00
75%      4.250000e+00
max      6.000000e+00
Name: ORIG_RATE, dtype: float64

Distribution of CURR_RATE:
count    2.356206e+07
mean     4.003156e+00
std      4.711884e-01
min      2.000000e+00
25%      3.750000e+00
50%      4.000000e+00
75%      4.250000e+00
max      6.000000e+00
Name: CURR_RATE, dtype: float64

Distribution of ORIG_UPB:
count    2.386342e+07
mean     2.154926e+05
std      1.136823e+05
min      8.000000e+03
25%      1.270000e+05
50%      1.950000e+05
75%      2.850000e+05
max      1.203000e+06
Name: ORIG_UPB, dtype: float64

Distribution of ISSUANCE_UPB:
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: ISSUANCE_UPB, dtype: float64

Distribution of CURRENT_UPB:
count    2.386342e+07
mean     1.682200e+05
std      1.185969e+05
min      0.000000e+00
25%      8.317179e+04
50%      1.519369e+05
75%      2.409530e+05
max      1.257142e+06
Name: CURRENT_UPB, dtype: float64

Distribution of ORIG_TERM:
count    2.386342e+07
mean     3.131689e+02
std      7.893267e+01
min      6.000000e+01
25%      2.400000e+02
50%      3.600000e+02
75%      3.600000e+02
max      3.600000e+02
Name: ORIG_TERM, dtype: float64

Distribution of ORIG_DATE:
ORIG_DATE
122015    6906313
012016    6290327
022016    5644497
112015    2187415
032016    2097784
102015     416341
092015     137381
042015      38194
082015      33049
052015      31017
062015      29058
072015      26775
032015      17108
022015       3137
012015       1233
122014        759
062014        549
082014        521
072014        384
102014        323
042014        313
092014        233
052014        210
112014        171
032014         97
012014         73
082013         56
022014         56
102013         48
Name: count, dtype: Int64

Distribution of FIRST_PAY:
FIRST_PAY
022016    6715684
032016    6417327
042016    5664233
012016    2192244
052016    2153648
122015     407179
112015     135781
062015      35768
102015      33780
072015      31078
082015      28288
092015      25851
052015      15419
042015       2992
032015        998
022015        673
082014        543
102014        437
092014        377
062014        313
112014        228
072014        207
042014        129
052014         97
122014         83
112013         56
012015          9
Name: count, dtype: Int64

Distribution of LOAN_AGE:
count    2.356179e+07
mean     3.667078e+01
std      2.581306e+01
min     -1.000000e+00
25%      1.500000e+01
50%      3.300000e+01
75%      5.400000e+01
max      1.190000e+02
Name: LOAN_AGE, dtype: float64

Distribution of REM_MONTHS:
count    2.356179e+07
mean     2.772621e+02
std      8.529173e+01
min      0.000000e+00
25%      2.200000e+02
50%      3.140000e+02
75%      3.400000e+02
max      4.820000e+02
Name: REM_MONTHS, dtype: float64

Distribution of ADJ_REM_MONTHS:
count    2.341987e+07
mean     2.688235e+02
std      8.902416e+01
min      0.000000e+00
25%      1.930000e+02
50%      3.080000e+02
75%      3.370000e+02
max      4.800000e+02
Name: ADJ_REM_MONTHS, dtype: float64

Distribution of MATR_DT:
MATR_DT
012046    4831970
022046    4453942
032046    4012943
122045    1638853
042046    1573351
           ...
032050          8
072051          6
052038          6
102027          4
112037          2
Name: count, Length: 381, dtype: Int64

Distribution of OLTV:
count    2.386342e+07
mean     7.366534e+01
std      1.707419e+01
min      3.000000e+00
25%      6.500000e+01
50%      7.800000e+01
75%      8.500000e+01
max      9.700000e+01
Name: OLTV, dtype: float64

Distribution of OCLTV:
count    2.386342e+07
mean     7.419559e+01
std      1.710640e+01
min      3.000000e+00
25%      6.600000e+01
50%      7.900000e+01
75%      8.600000e+01
max      1.050000e+02
Name: OCLTV, dtype: float64

Distribution of NUM_BO:
NUM_BO
1    12283381
2    11439145
3      116575
4       24025
5         267
6          29
Name: count, dtype: Int64

Distribution of DTI:
count    2.385687e+07
mean     3.338547e+01
std      8.964633e+00
min      0.000000e+00
25%      2.700000e+01
50%      3.500000e+01
75%      4.100000e+01
max      5.100000e+01
Name: DTI, dtype: float64

Distribution of CSCORE_B:
count    2.385372e+07
mean     7.525304e+02
std      4.708619e+01
min      6.200000e+02
25%      7.200000e+02
50%      7.630000e+02
75%      7.910000e+02
max      8.390000e+02
Name: CSCORE_B, dtype: float64

Distribution of CSCORE_C:
count    1.156838e+07
mean     7.591272e+02
std      4.465125e+01
min      6.200000e+02
25%      7.310000e+02
50%      7.710000e+02
75%      7.950000e+02
max      8.390000e+02
Name: CSCORE_C, dtype: float64

Distribution of FIRST_FLAG:
FIRST_FLAG
N    19087018
Y     4776404
Name: count, dtype: Int64

Distribution of PURPOSE:
PURPOSE
P    11861516
R     6545711
C     5456195
Name: count, dtype: Int64

Distribution of PROP:
PROP
SF    15029915
PU     6276041
CO     2223342
MH      199675
CP      134449
Name: count, dtype: Int64

Distribution of NO_UNITS:
count    2.386342e+07
mean     1.033915e+00
std      2.447537e-01
min      1.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      1.000000e+00
max      4.000000e+00
Name: NO_UNITS, dtype: float64

Distribution of OCC_STAT:
OCC_STAT
P    20723550
I     2073321
S     1066551
Name: count, dtype: Int64

Distribution of STATE:
STATE
CA    3238882
TX    2118221
FL    1616729
NY     910343
IL     894614
WA     784058
PA     755529
CO     743446
MI     742828
NC     697009
GA     668890
VA     659230
AZ     648629
NJ     611580
OH     610375
MN     546369
MA     525613
WI     509069
MD     472371
OR     465386
TN     418817
MO     416836
IN     394054
SC     372091
UT     349832
NV     277798
LA     274502
AL     259184
IA     248737
CT     243026
OK     232286
KY     202001
ID     194853
NE     183293
KS     149668
AR     146797
NM     146695
MS     131597
NH     105899
MT     101402
DE      94671
HI      91863
SD      78343
PR      76245
RI      67547
ME      66467
ND      60687
DC      60024
WV      59635
WY      53647
AK      42108
VT      39379
VI       2729
GU       1538
Name: count, dtype: Int64

Distribution of MSA:
MSA
00000    2164268
35620    1059647
31080     974753
19100     697688
16980     688419
          ...
38220       1477
25020       1390
25980       1052
21300        611
49500        414
Name: count, Length: 395, dtype: Int64

Distribution of ZIP:
ZIP
750    311960
945    252567
300    218762
852    202875
980    191595
        ...
418        56
213        50
772        49
733        49
865        41
Name: count, Length: 891, dtype: Int64

Distribution of MI_PCT:
count    6.317334e+06
mean     2.503004e+01
std      7.029064e+00
min      1.000000e+00
25%      2.500000e+01
50%      2.500000e+01
75%      3.000000e+01
max      4.000000e+01
Name: MI_PCT, dtype: float64

Distribution of PRODUCT:
PRODUCT
FRM    23863422
Name: count, dtype: Int64

Distribution of PPMT_FLG:
PPMT_FLG
N    23863414
Name: count, dtype: Int64

Distribution of IO:
IO
N    23863414
Name: count, dtype: Int64

Distribution of FIRST_PAY_IO:
Series([], Name: count, dtype: Int64)

Distribution of MNTHS_TO_AMTZ_IO:
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: MNTHS_TO_AMTZ_IO, dtype: float64

Distribution of DLQ_STATUS:
DLQ_STATUS
00    23310859
01      183297
XX      150339
02       51424
03       29893
        ...
80           1
81           1
82           1
83           1
84           1
Name: count, Length: 86, dtype: Int64

Distribution of PMT_HISTORY:
PMT_HISTORY
000000000000000000000000000000000000000000000000    6121589
000000000000000000000000000000000000000000000001      23797
010000000000000000000000000000000000000000000000      11501
000000000000000000000000000000000000000000000100      10492
000000000000000000000000000000000000000000000102      10278
                                                     ...
000101000001020300000000000000000000000000000000          1
010100000102030000000000000000000000000000000000          1
000000000000000001000000000000000101010101010101          1
000000010100000000000001010000010203000000000000          1
020203040506070809100900000000000000000000000000          1
Name: count, Length: 226147, dtype: Int64

Distribution of MOD_FLAG:
MOD_FLAG
N    23420075
Y      141967
Name: count, dtype: Int64

Distribution of MI_CANCEL_FLAG:
Series([], Name: count, dtype: Int64)

Distribution of Zero_Bal_Code:
Zero_Bal_Code
01    300325
16       382
09       290
06       274
02       229
15        82
03        51
Name: count, dtype: Int64

Distribution of ZB_DTE:
ZB_DTE
102020    8150
092020    7665
072020    7508
062020    7459
032021    7377
          ...
012024     595
112023     568
032016     563
022024     552
022016     142
Name: count, Length: 98, dtype: Int64

Distribution of LAST_UPB:
count    3.016230e+05
mean     2.069122e+05
std      1.185576e+05
min      0.000000e+00
25%      1.183701e+05
50%      1.910522e+05
75%      2.826014e+05
max      1.132169e+06
Name: LAST_UPB, dtype: float64

Distribution of RPRCH_DTE:
Series([], Name: count, dtype: Int64)

Distribution of CURR_SCHD_PRNCPL:
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: CURR_SCHD_PRNCPL, dtype: float64

Distribution of TOT_SCHD_PRNCPL:
count    6.821053e+06
mean     4.727671e+03
std      3.188658e+04
min     -1.611359e+05
25%      2.614600e+02
50%      4.696500e+02
75%      8.222900e+02
max      1.067277e+06
Name: TOT_SCHD_PRNCPL, dtype: float64

Distribution of UNSCHD_PRNCPL_CURR:
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: UNSCHD_PRNCPL_CURR, dtype: float64

Distribution of LAST_PAID_INSTALLMENT_DATE:
LAST_PAID_INSTALLMENT_DATE
102018    18
012017    17
112017    17
052017    17
052018    16
          ..
092023     1
112022     1
082022     1
062022     1
062021     1
Name: count, Length: 86, dtype: Int64

Distribution of FORECLOSURE_DATE:
FORECLOSURE_DATE
112022    37
072019    27
102023    19
012020    19
112021    19
          ..
092022     2
122020     1
062021     1
042021     1
092016     1
Name: count, Length: 90, dtype: Int64

Distribution of DISPOSITION_DATE:
DISPOSITION_DATE
112022    38
112021    18
102023    18
072019    14
082019    13
          ..
092017     2
112016     1
032017     1
092023     1
092016     1
Name: count, Length: 88, dtype: Int64

Distribution of FORECLOSURE_COSTS:
count      596.000000
mean      6649.631309
std       5809.830081
min          0.000000
25%       3060.097500
50%       5483.400000
75%       8734.292500
max      54667.050000
Name: FORECLOSURE_COSTS, dtype: float64

Distribution of PROPERTY_PRESERVATION_AND_REPAIR_COSTS:
count       596.000000
mean       8830.256611
std       19326.859117
min           0.000000
25%           0.000000
50%        1498.660000
75%        7248.765000
max      169600.340000
Name: PROPERTY_PRESERVATION_AND_REPAIR_COSTS, dtype: float64

Distribution of ASSET_RECOVERY_COSTS:
count      596.000000
mean       550.271443
std       1342.446425
min          0.000000
25%          0.000000
50%          0.000000
75%        500.000000
max      10600.000000
Name: ASSET_RECOVERY_COSTS, dtype: float64

Distribution of MISCELLANEOUS_HOLDING_EXPENSES_AND_CREDITS:
count      596.000000
mean      2108.709815
std       4951.900661
min     -18122.140000
25%          0.000000
50%        761.375000
75%       2697.562500
max      60337.570000
Name: MISCELLANEOUS_HOLDING_EXPENSES_AND_CREDITS, dtype: float64

Distribution of ASSOCIATED_TAXES_FOR_HOLDING_PROPERTY:
count      596.000000
mean      5906.993943
std       8778.525340
min          0.000000
25%        506.697500
50%       2790.580000
75%       7461.430000
max      74087.050000
Name: ASSOCIATED_TAXES_FOR_HOLDING_PROPERTY, dtype: float64

Distribution of NET_SALES_PROCEEDS:
count       596.000000
mean     161806.203977
std      115280.612789
min           0.000000
25%       78367.122500
50%      130976.965000
75%      219996.055000
max      577732.190000
Name: NET_SALES_PROCEEDS, dtype: float64

Distribution of CREDIT_ENHANCEMENT_PROCEEDS:
count       596.000000
mean      18498.185319
std       43500.418156

In [11]:
threshold = 0.8 * len(df)
final_df = df.dropna(axis=1, thresh=threshold)
final_df.head(10)

,LOAN_ID,ACT_PERIOD,CHANNEL,SELLER,SERVICER,ORIG_RATE,CURR_RATE,ORIG_UPB,CURRENT_UPB,ORIG_TERM,...,PPMT_FLG,IO,DLQ_STATUS,MOD_FLAG,SERV_IND,HOMEREADY_PROGRAM_INDICATOR,RELOCATION_MORTGAGE_INDICATOR,HIGH_BALANCE_LOAN_INDICATOR,HIGH_LOAN_TO_VALUE_HLTV_REFINANCE_OPTION_INDICATOR,PAYMENT_DEFERRAL_MOD_EVENT_FLAG
0,100000512540,022016,C,Franklin American Mortgage Company,Other,3.75,3.75,65000.0,0.00,360.0,...,N,N,00,N,N,7,N,N,N,7
1,100000512540,032016,C,Franklin American Mortgage Company,Other,3.75,3.75,65000.0,0.00,360.0,...,N,N,00,N,N,7,N,N,N,7
2,100000512540,042016,C,Franklin American Mortgage Company,Other,3.75,3.75,65000.0,0.00,360.0,...,N,N,00,N,N,7,N,N,N,7
3,100000512540,052016,C,Franklin American Mortgage Company,Other,3.75,3.75,65000.0,0.00,360.0,...,N,N,00,N,N,7,N,N,N,7
4,100000512540,062016,C,Franklin American Mortgage Company,Other,3.75,3.75,65000.0,0.00,360.0,...,N,N,00,N,N,7,N,N,N,7
5,100000512540,072016,C,Franklin American Mortgage Company,Other,3.75,3.75,65000.0,0.00,360.0,...,N,N,00,N,N,7,N,N,N,7
6,100000512540,082016,C,Franklin American Mortgage Company,Other,3.75,3.75,65000.0,64208.14,360.0,...,N,N,00,N,N,7,N,N,N,7
7,100000512540,092016,C,Franklin American Mortgage Company,Other,3.75,3.75,65000.0,64107.76,360.0,...,N,N,00,N,N,7,N,N,N,7
8,100000512540,102016,C,Franklin American Mortgage Company,Other,3.75,3.75,65000.0,64006.42,360.0,...,N,N,00,N,N,7,N,N,N,7
9,100000512540,112016,C,Franklin American Mortgage Company,Other,3.75,3.75,65000.0,63904.76,360.0,...,N,N,00,N,N,7,N,N,N,7

In [19]:
print(final_df.columns)

Index(['LOAN_ID', 'ACT_PERIOD', 'CHANNEL', 'SELLER', 'SERVICER', 'ORIG_RATE',
       'CURR_RATE', 'ORIG_UPB', 'CURRENT_UPB', 'ORIG_TERM', 'ORIG_DATE',
       'FIRST_PAY', 'LOAN_AGE', 'REM_MONTHS', 'ADJ_REM_MONTHS', 'MATR_DT',
       'OLTV', 'OCLTV', 'NUM_BO', 'DTI', 'CSCORE_B', 'FIRST_FLAG', 'PURPOSE',
       'PROP', 'NO_UNITS', 'OCC_STAT', 'STATE', 'MSA', 'ZIP', 'PRODUCT',
       'PPMT_FLG', 'IO', 'DLQ_STATUS', 'MOD_FLAG', 'SERV_IND',
       'HOMEREADY_PROGRAM_INDICATOR', 'RELOCATION_MORTGAGE_INDICATOR',
       'HIGH_BALANCE_LOAN_INDICATOR',
       'HIGH_LOAN_TO_VALUE_HLTV_REFINANCE_OPTION_INDICATOR',
       'PAYMENT_DEFERRAL_MOD_EVENT_FLAG', 'standardized_seller', 'seller_type',
       'servicer_type'],
      dtype='object')

In [12]:
string_columns = final_df.select_dtypes(include='string').columns
unique_values = {col: final_df[col].unique() for col in string_columns}
for col, values in unique_values.items():
    print(f"Unique values in column '{col}': {values}")

Unique values in column 'LOAN_ID': <StringArray>
['100000512540', '100000549022', '100003006281', '100003784303',
 '100004643080', '100005507460', '100007473914', '100009919815',
 '100010182021', '100011954065',
 ...
 '999978743737', '999979982534', '999981688908', '999983124397',
 '999983515120', '999985119166', '999988469950', '999992418879',
 '999992428316', '999992548116']
Length: 405925, dtype: string
Unique values in column 'ACT_PERIOD': <StringArray>
['022016', '032016', '042016', '052016', '062016', '072016', '082016',
 '092016', '102016', '112016', '122016', '012017', '022017', '032017',
 '042017', '052017', '062017', '072017', '082017', '092017', '102017',
 '112017', '122017', '012018', '022018', '032018', '042018', '052018',
 '062018', '072018', '082018', '092018', '102018', '112018', '122018',
 '012019', '022019', '032019', '042019', '052019', '062019', '072019',
 '082019', '092019', '102019', '112019', '122019', '012020', '022020',
 '032020', '042020', '052020', '062020', '072020', '082020', '092020',
 '102020', '112020', '122020', '012021', '022021', '032021', '042021',
 '052021', '062021', '072021', '082021', '092021', '102021', '112021',
 '122021', '012022', '022022', '032022', '042022', '052022', '062022',
 '072022', '082022', '092022', '102022', '112022', '122022', '012023',
 '022023', '032023', '042023', '052023', '062023', '072023', '082023',
 '092023', '102023', '112023', '122023', '012024', '022024', '032024',
 '012016']
Length: 99, dtype: string
Unique values in column 'CHANNEL': <StringArray>
['C', 'B', 'R']
Length: 3, dtype: string
Unique values in column 'SELLER': <StringArray>
[                                  'Franklin American Mortgage Company',
                                                                'Other',
                            'Jpmorgan Chase Bank, National Association',
                                                   'Quicken Loans Inc.',
                                                   'Quicken Loans, LLC',
                                                 'Rocket Mortgage, LLC',
                                                   'Flagstar Bank, Fsb',
                                                   'Flagstar Bank, FSB',
                                  'Flagstar Bank, National Association',
                                'Pmt Credit Risk Transfer Trust 2015-2',
                                'PMT Credit Risk Transfer Trust 2015-2',
 'United Shore Financial Services, Llc D/B/A United Wholesale Mortgage',
   'United Shore Financial Services, LLC dba United Wholesale Mortgage',
                                       'United Wholesale Mortgage, LLC',
                            'JPMorgan Chase Bank, National Association',
                                   'Provident Funding Associates, L.P.',
                                               'Wells Fargo Bank, N.A.',
                                                   'Loandepot.Com, Llc',
                                                   'loanDepot.com, LLC',
                                             'Nationstar Mortgage, Llc',
                                             'NationStar Mortgage, LLC',
                                              'Nationstar Mortgage LLC',
                                                        'Suntrust Bank',
                                 'Truist Bank (formerly SunTrust Bank)',
                                                   'Citimortgage, Inc.',
                                                   'CitiMortgage, Inc.',
                                                 'Stearns Lending, Llc',
                                                 'Stearns Lending, LLC',
                                                'Guaranteed Rate, Inc.',
                                               'Freedom Mortgage Corp.',
                                                 'Ditech Financial Llc',
                                      'Finance Of America Mortgage Llc',
                                      'Finance of America Mortgage LLC',
                                             'Caliber Home Loans, Inc.',
                                                 'Impac Mortgage Corp.',
                                                          'Truist Bank',
                                                       'U.S. Bank N.A.',
                                      'Amerihome Mortgage Company, Llc',
                                      'AmeriHome Mortgage Company, LLC',
                                                   'Rrac Spv-Fn2 Trust',
                                                 'Ditech Financial LLC',
                                                           'Bvrt Trust',
                                                      'Bay Equity, Llc']
Length: 43, dtype: string
Unique values in column 'SERVICER': <StringArray>
[                                               'Other',
                  'Citizens Bank, National Association',
                                                   <NA>,
                          'Pingora Loan Servicing, Llc',
                          'Pingora Loan Servicing, LLC',
                                 'Rocket Mortgage, LLC',
                             'Jp Morgan Chase Bank, Na',
                'Matrix Financial Services Corporation',
                                   'Quicken Loans Inc.',
                                   'Quicken Loans, Llc',
                                   'Quicken Loans, LLC',
                              'JPMorgan Chase Bank, NA',
                                       'Pennymac Corp.',
                                       'PennyMac Corp.',
                                         'Regions Bank',
                              'Jpmorgan Chase Bank, Na',
                   'Provident Funding Associates, L.P.',
                             'NationStar Mortgage, LLC',
                               'Wells Fargo Bank, N.A.',
            'Roundpoint Mortgage Servicing Corporation',
            'RoundPoint Mortgage Servicing Corporation',
                               'Freedom Mortgage Corp.',
                               'Guild Mortgage Company',
                           'Guild Mortgage Company LLC',
                         'Lakeview Loan Servicing, Llc',
                         'Lakeview Loan Servicing, LLC',
                             'Nationstar Mortgage, Llc',
                         'New Residential Mortgage Llc',
                         'New Residential Mortgage LLC',
                               'Suntrust Mortgage Inc.',
                                        'Suntrust Bank',
                 'Truist Bank (Formerly Suntrust Bank)',
                 'Truist Bank (formerly SunTrust Bank)',
                                     'Fifth Third Bank',
               'Fifth Third Bank, National Association',
                                   'Citimortgage, Inc.',
                                       'Pnc Bank, N.A.',
                                       'PNC Bank, N.A.',
                        'Seneca Mortgage Servicing Llc',
                                 'Ditech Financial Llc',
                              'Nationstar Mortgage LLC',
                             'Caliber Home Loans, Inc.',
                                          'Truist Bank',
                                       'U.S. Bank N.A.',
          'Redwood Residential Acquisition Corporation',
                             'Phh Mortgage Corporation',
                    'RoundPoint Mortgage Servicing LLC',
                                'Bank Of America, N.A.',
              'Fannie Mae/Seterus, Inc. As Subservicer',
 'Mortgage Access Corp.Dba Weichert Financial Services',
                                  'Axia Financial, Llc']
Length: 51, dtype: string
Unique values in column 'ORIG_DATE': <StringArray>
['122015', '012016', '032016', '022016', '112015', '102015', '092015',
 '082015', '032015', '012015', '062015', '052015', '042015', '072015',
 '122014', '022015', '072014', '042014', '102014', '062014', '082014',
 '052014', '092014', '012014', '032014', '102013', '112014', '082013',
 '022014']
Length: 29, dtype: string
Unique values in column 'FIRST_PAY': <StringArray>
['022016', '032016', '052016', '042016', '012016', '122015', '112015',
 '102015', '052015', '032015', '082015', '072015', '062015', '092015',
 '042015', '022015', '092014', '062014', '082014', '102014', '112014',
 '042014', '052014', '072014', '122014', '012015', '112013']
Length: 27, dtype: string
Unique values in column 'MATR_DT': <StringArray>
['012046', '022046', '042046',     <NA>, '032046', '122045', '122025',
 '022031', '112045', '082060',
 ...
 '092043', '102049', '092024', '112027', '052042', '072032', '102024',
 '032050', '072027', '072041']
Length: 382, dtype: string
Unique values in column 'NUM_BO': <StringArray>
['1', '2', '3', '4', '5', '6']
Length: 6, dtype: string
Unique values in column 'FIRST_FLAG': <StringArray>
['N', 'Y']
Length: 2, dtype: string
Unique values in column 'PURPOSE': <StringArray>
['C', 'P', 'R']
Length: 3, dtype: string
Unique values in column 'PROP': <StringArray>
['SF', 'PU', 'CO', 'MH', 'CP']
Length: 5, dtype: string
Unique values in column 'OCC_STAT': <StringArray>
['P', 'S', 'I']
Length: 3, dtype: string
Unique values in column 'STATE': <StringArray>
['GA', 'KS', 'IL', 'IN', 'TX', 'UT', 'MO', 'IA', 'OR', 'DE', 'CA', 'MI', 'KY',
 'CO', 'NY', 'PA', 'WI', 'WA', 'VA', 'AZ', 'MD', 'TN', 'MA', 'OH', 'SC', 'AK',
 'AL', 'LA', 'MN', 'NC', 'AR', 'MS', 'OK', 'NE', 'NJ', 'ID', 'FL', 'ND', 'NV',
 'NM', 'CT', 'VT', 'WV', 'DC', 'ME', 'SD', 'NH', 'MT', 'HI', 'PR', 'RI', 'WY',
 'VI', 'GU']
Length: 54, dtype: string
Unique values in column 'MSA': <StringArray>
['12260', '48620', '00000', '31140', '26420', '36260', '38900', '16980',
 '37980', '19100',
 ...
 '29940', '34620', '48540', '41140', '23460', '48700', '25980', '21300',
 '12980', '49500']
Length: 395, dtype: string
Unique values in column 'ZIP': <StringArray>
['308', '670', '623', '471', '773', '844', '638', '504', '972', '606',
 ...
 '409', '669',  <NA>, '102', '418', '772', '248', '414', '865', '417']
Length: 892, dtype: string
Unique values in column 'PRODUCT': <StringArray>
['FRM']
Length: 1, dtype: string
Unique values in column 'PPMT_FLG': <StringArray>
['N', <NA>]
Length: 2, dtype: string
Unique values in column 'IO': <StringArray>
['N', <NA>]
Length: 2, dtype: string
Unique values in column 'DLQ_STATUS': <StringArray>
['00', '01', 'XX', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
 '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
 '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37',
 '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50',
 '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63',
 '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76',
 '77', '78', '79', '80', '81', '82', '83', '84']
Length: 86, dtype: string
Unique values in column 'MOD_FLAG': <StringArray>
['N', <NA>, 'Y']
Length: 3, dtype: string
Unique values in column 'SERV_IND': <StringArray>
['N', 'Y', <NA>]
Length: 3, dtype: string
Unique values in column 'HOMEREADY_PROGRAM_INDICATOR': <StringArray>
['7', 'F', 'H']
Length: 3, dtype: string
Unique values in column 'RELOCATION_MORTGAGE_INDICATOR': <StringArray>
['N', 'Y']
Length: 2, dtype: string
Unique values in column 'HIGH_BALANCE_LOAN_INDICATOR': <StringArray>
['N', 'Y']
Length: 2, dtype: string
Unique values in column 'HIGH_LOAN_TO_VALUE_HLTV_REFINANCE_OPTION_INDICATOR': <StringArray>
['N']
Length: 1, dtype: string
Unique values in column 'PAYMENT_DEFERRAL_MOD_EVENT_FLAG': <StringArray>
['7']
Length: 1, dtype: string

In [16]:
def classify_seller(seller_name):
    # Convert to lowercase for consistent matching
    seller_name = seller_name.lower()

    # Define keywords for each seller category
    bank_keywords = [
        'bank', 'national association', 'credit union', 'fifth third', 
        'pnc', 'citizens', 'wells fargo', 'regions', 
        'suntrust', 'truist', 'jpmorgan', 'citi'
    ]
    
    mortgage_company_keywords = [
        'mortgage', 'lending', 'loan', 'servicing', 'financial', 
        'loandepot', 'pennymac', 'roundpoint', 
        'freedom', 'quicken', 'amerihome', 'guild', 'caliber'
    ]
    
    investor_keywords = [
        'trust', 'real estate investment trust', 'investment', 
        'fund', 'capital', 'group', 'acquisition'
    ]

    # Classification logic based on keywords
    if any(keyword in seller_name for keyword in bank_keywords):
        return 'Bank'
    elif any(keyword in seller_name for keyword in mortgage_company_keywords):
        return 'Mortgage Company'
    elif any(keyword in seller_name for keyword in investor_keywords):
        return 'Investor'
    else:
        return 'Other'

# Apply the classification function to the SELLER column
final_df['seller_type'] = final_df['SELLER'].apply(classify_seller)

# Display the final DataFrame with the new seller_type column
print(final_df['seller_type'].unique())

# # Create a mapping from standardized names to integers
# seller_mapping = {seller: idx for idx, seller in enumerate(final_df['standardized_seller'].unique())}


# # Map the standardized names to integers
# final_df['seller_id'] = final_df['standardized_seller'].map(seller_mapping)

/var/folders/5z/hnzbd1t12n77xf3htrhz93100000gn/T/ipykernel_34467/2615605640.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['seller_type'] = final_df['SELLER'].apply(classify_seller)

['Mortgage Company' 'Other' 'Bank' 'Investor']

In [18]:
def classify_servicer_type(seller_name):
    # Convert to lowercase for consistent matching
    seller_name = seller_name.lower()
    
    # Define keywords for each category
    bank_keywords = [
        'bank', 'national association', 'credit union', 'fifth third', 
        'pnc', 'citizens bank', 'wells fargo', 'regions bank', 
        'suntrust', 'truist', 'jpmorgan', 'citi'
    ]
    
    mortgage_company_keywords = [
        'mortgage', 'lending', 'loan', 'servicing', 'financial', 
        'homeloans', 'loandepot', 'pennymac', 'roundpoint', 
        'freedom', 'quicken', 'amerihome', 'guild', 'caliber'
    ]
    
    # Check for keywords in the seller name
    if any(keyword in seller_name for keyword in bank_keywords):
        return 'Bank'
    elif any(keyword in seller_name for keyword in mortgage_company_keywords):
        return 'Mortgage Company'
    else:
        return 'Other'

# Apply the classification function to the SELLER column
final_df['servicer_type'] = final_df['SELLER'].apply(classify_servicer_type)
print(final_df['servicer_type'].unique())

/var/folders/5z/hnzbd1t12n77xf3htrhz93100000gn/T/ipykernel_34467/115721331.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['servicer_type'] = final_df['SELLER'].apply(classify_servicer_type)

['Mortgage Company' 'Other' 'Bank']

In [27]:
## firstpayment date - orginal date = time_to_first_payment
## ADJ Rem month / ORIGNAL Term
## Num of borrow stirng to int
## First Flag N: 0 Y: 1
## Purpose: P: 0  C R U: 1
## PROP: SF: 0, PU: 1, CO: 2, MH: 3, CP: 4
## Occupancy Status: U: 0 P: 1 I: 2 S: 3
## State: Alphabet sorted 
## MSA/ZIP leave for comment
## Product abandon
## "DLQ_STATUS" (string to int)
## MOD FLAG remove NA (N: 0 Y: 1)
## SERV_IND  (N: 0 Y: 1)
## HOMEREADY_PROGRAM_INDICATOR: 7: 0 F: 1 H:2
## RELOCATION_MORTGAGE_INDICATOR N: 0 Y:1
## HIGH_BALANCE_LOAN_INDICATOR N: 0 Y:1
## ACT Period -> date time format YYYY MM

<StringArray>
['100000512540', '100000549022', '100003006281', '100003784303',
 '100004643080', '100005507460', '100007473914', '100009919815',
 '100010182021', '100011954065',
 ...
 '999978743737', '999979982534', '999981688908', '999983124397',
 '999983515120', '999985119166', '999988469950', '999992418879',
 '999992428316', '999992548116']
Length: 405925, dtype: string

In [15]:
file_path_2018 = "../data/raw/2020Q1.csv"
df_2018 = load_and_concat_csv(file_path_2018, lppub_column_names, lppub_column_classes, chunk_size=chunk_size)
threshold = 0.8 * len(df_2018)
df_2018 = df.dropna(axis=1, thresh=threshold)
string_columns = df_2018.select_dtypes(include='string').columns
unique_values = {col: df_2018[col].unique() for col in string_columns}
for col, values in unique_values.items():
    print(f"Unique values in column '{col}': {values}")

Unique values in column 'LOAN_ID': <StringArray>
['100000512540', '100000549022', '100003006281', '100003784303',
 '100004643080', '100005507460', '100007473914', '100009919815',
 '100010182021', '100011954065',
 ...
 '999978743737', '999979982534', '999981688908', '999983124397',
 '999983515120', '999985119166', '999988469950', '999992418879',
 '999992428316', '999992548116']
Length: 405925, dtype: string
Unique values in column 'ACT_PERIOD': <StringArray>
['022016', '032016', '042016', '052016', '062016', '072016', '082016',
 '092016', '102016', '112016', '122016', '012017', '022017', '032017',
 '042017', '052017', '062017', '072017', '082017', '092017', '102017',
 '112017', '122017', '012018', '022018', '032018', '042018', '052018',
 '062018', '072018', '082018', '092018', '102018', '112018', '122018',
 '012019', '022019', '032019', '042019', '052019', '062019', '072019',
 '082019', '092019', '102019', '112019', '122019', '012020', '022020',
 '032020', '042020', '052020', '062020', '072020', '082020', '092020',
 '102020', '112020', '122020', '012021', '022021', '032021', '042021',
 '052021', '062021', '072021', '082021', '092021', '102021', '112021',
 '122021', '012022', '022022', '032022', '042022', '052022', '062022',
 '072022', '082022', '092022', '102022', '112022', '122022', '012023',
 '022023', '032023', '042023', '052023', '062023', '072023', '082023',
 '092023', '102023', '112023', '122023', '012024', '022024', '032024',
 '012016']
Length: 99, dtype: string
Unique values in column 'CHANNEL': <StringArray>
['C', 'B', 'R']
Length: 3, dtype: string
Unique values in column 'SELLER': <StringArray>
[                                  'Franklin American Mortgage Company',
                                                                'Other',
                            'Jpmorgan Chase Bank, National Association',
                                                   'Quicken Loans Inc.',
                                                   'Quicken Loans, LLC',
                                                 'Rocket Mortgage, LLC',
                                                   'Flagstar Bank, Fsb',
                                                   'Flagstar Bank, FSB',
                                  'Flagstar Bank, National Association',
                                'Pmt Credit Risk Transfer Trust 2015-2',
                                'PMT Credit Risk Transfer Trust 2015-2',
 'United Shore Financial Services, Llc D/B/A United Wholesale Mortgage',
   'United Shore Financial Services, LLC dba United Wholesale Mortgage',
                                       'United Wholesale Mortgage, LLC',
                            'JPMorgan Chase Bank, National Association',
                                   'Provident Funding Associates, L.P.',
                                               'Wells Fargo Bank, N.A.',
                                                   'Loandepot.Com, Llc',
                                                   'loanDepot.com, LLC',
                                             'Nationstar Mortgage, Llc',
                                             'NationStar Mortgage, LLC',
                                              'Nationstar Mortgage LLC',
                                                        'Suntrust Bank',
                                 'Truist Bank (formerly SunTrust Bank)',
                                                   'Citimortgage, Inc.',
                                                   'CitiMortgage, Inc.',
                                                 'Stearns Lending, Llc',
                                                 'Stearns Lending, LLC',
                                                'Guaranteed Rate, Inc.',
                                               'Freedom Mortgage Corp.',
                                                 'Ditech Financial Llc',
                                      'Finance Of America Mortgage Llc',
                                      'Finance of America Mortgage LLC',
                                             'Caliber Home Loans, Inc.',
                                                 'Impac Mortgage Corp.',
                                                          'Truist Bank',
                                                       'U.S. Bank N.A.',
                                      'Amerihome Mortgage Company, Llc',
                                      'AmeriHome Mortgage Company, LLC',
                                                   'Rrac Spv-Fn2 Trust',
                                                 'Ditech Financial LLC',
                                                           'Bvrt Trust',
                                                      'Bay Equity, Llc']
Length: 43, dtype: string
Unique values in column 'SERVICER': <StringArray>
[                                               'Other',
                  'Citizens Bank, National Association',
                                                   <NA>,
                          'Pingora Loan Servicing, Llc',
                          'Pingora Loan Servicing, LLC',
                                 'Rocket Mortgage, LLC',
                             'Jp Morgan Chase Bank, Na',
                'Matrix Financial Services Corporation',
                                   'Quicken Loans Inc.',
                                   'Quicken Loans, Llc',
                                   'Quicken Loans, LLC',
                              'JPMorgan Chase Bank, NA',
                                       'Pennymac Corp.',
                                       'PennyMac Corp.',
                                         'Regions Bank',
                              'Jpmorgan Chase Bank, Na',
                   'Provident Funding Associates, L.P.',
                             'NationStar Mortgage, LLC',
                               'Wells Fargo Bank, N.A.',
            'Roundpoint Mortgage Servicing Corporation',
            'RoundPoint Mortgage Servicing Corporation',
                               'Freedom Mortgage Corp.',
                               'Guild Mortgage Company',
                           'Guild Mortgage Company LLC',
                         'Lakeview Loan Servicing, Llc',
                         'Lakeview Loan Servicing, LLC',
                             'Nationstar Mortgage, Llc',
                         'New Residential Mortgage Llc',
                         'New Residential Mortgage LLC',
                               'Suntrust Mortgage Inc.',
                                        'Suntrust Bank',
                 'Truist Bank (Formerly Suntrust Bank)',
                 'Truist Bank (formerly SunTrust Bank)',
                                     'Fifth Third Bank',
               'Fifth Third Bank, National Association',
                                   'Citimortgage, Inc.',
                                       'Pnc Bank, N.A.',
                                       'PNC Bank, N.A.',
                        'Seneca Mortgage Servicing Llc',
                                 'Ditech Financial Llc',
                              'Nationstar Mortgage LLC',
                             'Caliber Home Loans, Inc.',
                                          'Truist Bank',
                                       'U.S. Bank N.A.',
          'Redwood Residential Acquisition Corporation',
                             'Phh Mortgage Corporation',
                    'RoundPoint Mortgage Servicing LLC',
                                'Bank Of America, N.A.',
              'Fannie Mae/Seterus, Inc. As Subservicer',
 'Mortgage Access Corp.Dba Weichert Financial Services',
                                  'Axia Financial, Llc']
Length: 51, dtype: string
Unique values in column 'ORIG_DATE': <StringArray>
['122015', '012016', '032016', '022016', '112015', '102015', '092015',
 '082015', '032015', '012015', '062015', '052015', '042015', '072015',
 '122014', '022015', '072014', '042014', '102014', '062014', '082014',
 '052014', '092014', '012014', '032014', '102013', '112014', '082013',
 '022014']
Length: 29, dtype: string
Unique values in column 'FIRST_PAY': <StringArray>
['022016', '032016', '052016', '042016', '012016', '122015', '112015',
 '102015', '052015', '032015', '082015', '072015', '062015', '092015',
 '042015', '022015', '092014', '062014', '082014', '102014', '112014',
 '042014', '052014', '072014', '122014', '012015', '112013']
Length: 27, dtype: string
Unique values in column 'MATR_DT': <StringArray>
['012046', '022046', '042046',     <NA>, '032046', '122045', '122025',
 '022031', '112045', '082060',
 ...
 '092043', '102049', '092024', '112027', '052042', '072032', '102024',
 '032050', '072027', '072041']
Length: 382, dtype: string
Unique values in column 'NUM_BO': <StringArray>
['1', '2', '3', '4', '5', '6']
Length: 6, dtype: string
Unique values in column 'FIRST_FLAG': <StringArray>
['N', 'Y']
Length: 2, dtype: string
Unique values in column 'PURPOSE': <StringArray>
['C', 'P', 'R']
Length: 3, dtype: string
Unique values in column 'PROP': <StringArray>
['SF', 'PU', 'CO', 'MH', 'CP']
Length: 5, dtype: string
Unique values in column 'OCC_STAT': <StringArray>
['P', 'S', 'I']
Length: 3, dtype: string
Unique values in column 'STATE': <StringArray>
['GA', 'KS', 'IL', 'IN', 'TX', 'UT', 'MO', 'IA', 'OR', 'DE', 'CA', 'MI', 'KY',
 'CO', 'NY', 'PA', 'WI', 'WA', 'VA', 'AZ', 'MD', 'TN', 'MA', 'OH', 'SC', 'AK',
 'AL', 'LA', 'MN', 'NC', 'AR', 'MS', 'OK', 'NE', 'NJ', 'ID', 'FL', 'ND', 'NV',
 'NM', 'CT', 'VT', 'WV', 'DC', 'ME', 'SD', 'NH', 'MT', 'HI', 'PR', 'RI', 'WY',
 'VI', 'GU']
Length: 54, dtype: string
Unique values in column 'MSA': <StringArray>
['12260', '48620', '00000', '31140', '26420', '36260', '38900', '16980',
 '37980', '19100',
 ...
 '29940', '34620', '48540', '41140', '23460', '48700', '25980', '21300',
 '12980', '49500']
Length: 395, dtype: string
Unique values in column 'ZIP': <StringArray>
['308', '670', '623', '471', '773', '844', '638', '504', '972', '606',
 ...
 '409', '669',  <NA>, '102', '418', '772', '248', '414', '865', '417']
Length: 892, dtype: string
Unique values in column 'PRODUCT': <StringArray>
['FRM']
Length: 1, dtype: string
Unique values in column 'PPMT_FLG': <StringArray>
['N', <NA>]
Length: 2, dtype: string
Unique values in column 'IO': <StringArray>
['N', <NA>]
Length: 2, dtype: string
Unique values in column 'DLQ_STATUS': <StringArray>
['00', '01', 'XX', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
 '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
 '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37',
 '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50',
 '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63',
 '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76',
 '77', '78', '79', '80', '81', '82', '83', '84']
Length: 86, dtype: string
Unique values in column 'MOD_FLAG': <StringArray>
['N', <NA>, 'Y']
Length: 3, dtype: string
Unique values in column 'SERV_IND': <StringArray>
['N', 'Y', <NA>]
Length: 3, dtype: string
Unique values in column 'HOMEREADY_PROGRAM_INDICATOR': <StringArray>
['7', 'F', 'H']
Length: 3, dtype: string
Unique values in column 'RELOCATION_MORTGAGE_INDICATOR': <StringArray>
['N', 'Y']
Length: 2, dtype: string
Unique values in column 'HIGH_BALANCE_LOAN_INDICATOR': <StringArray>
['N', 'Y']
Length: 2, dtype: string
Unique values in column 'HIGH_LOAN_TO_VALUE_HLTV_REFINANCE_OPTION_INDICATOR': <StringArray>
['N']
Length: 1, dtype: string
Unique values in column 'PAYMENT_DEFERRAL_MOD_EVENT_FLAG': <StringArray>
['7']
Length: 1, dtype: string

In [22]:
print(df.columns)

Index(['LOAN_ID', 'ACT_PERIOD', 'CHANNEL', 'SELLER', 'SERVICER', 'ORIG_RATE',
       'CURR_RATE', 'ORIG_UPB', 'CURRENT_UPB', 'ORIG_TERM', 'ORIG_DATE',
       'FIRST_PAY', 'LOAN_AGE', 'REM_MONTHS', 'ADJ_REM_MONTHS', 'MATR_DT',
       'OLTV', 'OCLTV', 'NUM_BO', 'DTI', 'CSCORE_B', 'FIRST_FLAG', 'PURPOSE',
       'PROP', 'NO_UNITS', 'OCC_STAT', 'STATE', 'MSA', 'ZIP', 'PRODUCT',
       'PPMT_FLG', 'IO', 'DLQ_STATUS', 'MOD_FLAG', 'SERV_IND',
       'HOMEREADY_PROGRAM_INDICATOR', 'RELOCATION_MORTGAGE_INDICATOR',
       'HIGH_BALANCE_LOAN_INDICATOR',
       'HIGH_LOAN_TO_VALUE_HLTV_REFINANCE_OPTION_INDICATOR',
       'PAYMENT_DEFERRAL_MOD_EVENT_FLAG'],
      dtype='object')

In [7]:
string_columns = df.select_dtypes(include=['object']).columns
for col in string_columns:
    print(f"\n{col}:")
    print(df[col].unique())
    print(f"Number of unique values: {[col].nunique()}")

In [24]:
final_df['date_time'] = pd.to_datetime(final_df['ACT_PERIOD'], format='%m%Y')
final_df['date_time'] = final_df['date_time'].dt.strftime('%Y-%m')
max_date_row = final_df.loc[final_df['date_time'].idxmax()]

KeyboardInterrupt:

In [ ]:
print("update")