In [3]:
# from pyspark.sql import SparkSession
import pandas as pd
import warnings
import sys
sys.path.append('../src')
from data import load_and_concat_csv, analyze_dataframe, visualize_NA_percentage
warnings.simplefilter(action='ignore', category=pd.errors.DtypeWarning)
print("Package Imported")

Package Imported

In [4]:
# Define the Loan Performance table headers and data types
lppub_column_names = [
    "POOL_ID", "LOAN_ID", "ACT_PERIOD", "CHANNEL", "SELLER", "SERVICER",
    "MASTER_SERVICER", "ORIG_RATE", "CURR_RATE", "ORIG_UPB", "ISSUANCE_UPB",
    "CURRENT_UPB", "ORIG_TERM", "ORIG_DATE", "FIRST_PAY", "LOAN_AGE",
    "REM_MONTHS", "ADJ_REM_MONTHS", "MATR_DT", "OLTV", "OCLTV",
    "NUM_BO", "DTI", "CSCORE_B", "CSCORE_C", "FIRST_FLAG", "PURPOSE",
    "PROP", "NO_UNITS", "OCC_STAT", "STATE", "MSA", "ZIP", "MI_PCT",
    "PRODUCT", "PPMT_FLG", "IO", "FIRST_PAY_IO", "MNTHS_TO_AMTZ_IO",
    "DLQ_STATUS", "PMT_HISTORY", "MOD_FLAG", "MI_CANCEL_FLAG", "Zero_Bal_Code",
    "ZB_DTE", "LAST_UPB", "RPRCH_DTE", "CURR_SCHD_PRNCPL", "TOT_SCHD_PRNCPL",
    "UNSCHD_PRNCPL_CURR", "LAST_PAID_INSTALLMENT_DATE", "FORECLOSURE_DATE",
    "DISPOSITION_DATE", "FORECLOSURE_COSTS", "PROPERTY_PRESERVATION_AND_REPAIR_COSTS",
    "ASSET_RECOVERY_COSTS", "MISCELLANEOUS_HOLDING_EXPENSES_AND_CREDITS",
    "ASSOCIATED_TAXES_FOR_HOLDING_PROPERTY", "NET_SALES_PROCEEDS",
    "CREDIT_ENHANCEMENT_PROCEEDS", "REPURCHASES_MAKE_WHOLE_PROCEEDS",
    "OTHER_FORECLOSURE_PROCEEDS", "NON_INTEREST_BEARING_UPB", "PRINCIPAL_FORGIVENESS_AMOUNT",
    "ORIGINAL_LIST_START_DATE", "ORIGINAL_LIST_PRICE", "CURRENT_LIST_START_DATE",
    "CURRENT_LIST_PRICE", "ISSUE_SCOREB", "ISSUE_SCOREC", "CURR_SCOREB",
    "CURR_SCOREC", "MI_TYPE", "SERV_IND", "CURRENT_PERIOD_MODIFICATION_LOSS_AMOUNT",
    "CUMULATIVE_MODIFICATION_LOSS_AMOUNT", "CURRENT_PERIOD_CREDIT_EVENT_NET_GAIN_OR_LOSS",
    "CUMULATIVE_CREDIT_EVENT_NET_GAIN_OR_LOSS", "HOMEREADY_PROGRAM_INDICATOR",
    "FORECLOSURE_PRINCIPAL_WRITE_OFF_AMOUNT", "RELOCATION_MORTGAGE_INDICATOR",
    "ZERO_BALANCE_CODE_CHANGE_DATE", "LOAN_HOLDBACK_INDICATOR", "LOAN_HOLDBACK_EFFECTIVE_DATE",
    "DELINQUENT_ACCRUED_INTEREST", "PROPERTY_INSPECTION_WAIVER_INDICATOR",
    "HIGH_BALANCE_LOAN_INDICATOR", "ARM_5_YR_INDICATOR", "ARM_PRODUCT_TYPE",
    "MONTHS_UNTIL_FIRST_PAYMENT_RESET", "MONTHS_BETWEEN_SUBSEQUENT_PAYMENT_RESET",
    "INTEREST_RATE_CHANGE_DATE", "PAYMENT_CHANGE_DATE", "ARM_INDEX",
    "ARM_CAP_STRUCTURE", "INITIAL_INTEREST_RATE_CAP", "PERIODIC_INTEREST_RATE_CAP",
    "LIFETIME_INTEREST_RATE_CAP", "MARGIN", "BALLOON_INDICATOR",
    "PLAN_NUMBER", "FORBEARANCE_INDICATOR", "HIGH_LOAN_TO_VALUE_HLTV_REFINANCE_OPTION_INDICATOR",
    "DEAL_NAME", "RE_PROCS_FLAG", "ADR_TYPE", "ADR_COUNT", "ADR_UPB", "PAYMENT_DEFERRAL_MOD_EVENT_FLAG", "INTEREST_BEARING_UPB"
]

# Define column data types as a dictionary
lppub_column_classes = {
    "POOL_ID": "string", "LOAN_ID": "string", "ACT_PERIOD": "string", "CHANNEL": "string", "SELLER": "string", 
    "SERVICER": "string", "MASTER_SERVICER": "string", "ORIG_RATE": "float64", "CURR_RATE": "float64",
    "ORIG_UPB": "float64", "ISSUANCE_UPB": "float64", "CURRENT_UPB": "float64", "ORIG_TERM": "float64", 
    "ORIG_DATE": "string", "FIRST_PAY": "string", "LOAN_AGE": "float64", "REM_MONTHS": "float64", 
    "ADJ_REM_MONTHS": "float64", "MATR_DT": "string", "OLTV": "float64", "OCLTV": "float64", 
    "NUM_BO": "string", "DTI": "float64", "CSCORE_B": "float64", "CSCORE_C": "float64", "FIRST_FLAG": "string", 
    "PURPOSE": "string", "PROP": "string", "NO_UNITS": "float64", "OCC_STAT": "string", "STATE": "string", 
    "MSA": "string", "ZIP": "string", "MI_PCT": "float64", "PRODUCT": "string", "PPMT_FLG": "string", 
    "IO": "string", "FIRST_PAY_IO": "string", "MNTHS_TO_AMTZ_IO": "float64", "DLQ_STATUS": "string", 
    "PMT_HISTORY": "string", "MOD_FLAG": "string", "MI_CANCEL_FLAG": "string", "Zero_Bal_Code": "string", 
    "ZB_DTE": "string", "LAST_UPB": "float64", "RPRCH_DTE": "string", "CURR_SCHD_PRNCPL": "float64", 
    "TOT_SCHD_PRNCPL": "float64", "UNSCHD_PRNCPL_CURR": "float64", "LAST_PAID_INSTALLMENT_DATE": "string", 
    "FORECLOSURE_DATE": "string", "DISPOSITION_DATE": "string", "FORECLOSURE_COSTS": "float64", 
    "PROPERTY_PRESERVATION_AND_REPAIR_COSTS": "float64", "ASSET_RECOVERY_COSTS": "float64", 
    "MISCELLANEOUS_HOLDING_EXPENSES_AND_CREDITS": "float64", "ASSOCIATED_TAXES_FOR_HOLDING_PROPERTY": "float64", 
    "NET_SALES_PROCEEDS": "float64", "CREDIT_ENHANCEMENT_PROCEEDS": "float64", 
    "REPURCHASES_MAKE_WHOLE_PROCEEDS": "float64", "OTHER_FORECLOSURE_PROCEEDS": "float64", 
    "NON_INTEREST_BEARING_UPB": "float64", "PRINCIPAL_FORGIVENESS_AMOUNT": "float64", 
    "ORIGINAL_LIST_START_DATE": "string", "ORIGINAL_LIST_PRICE": "float64", "CURRENT_LIST_START_DATE": "string", 
    "CURRENT_LIST_PRICE": "float64", "ISSUE_SCOREB": "float64", "ISSUE_SCOREC": "float64", "CURR_SCOREB": "float64", 
    "CURR_SCOREC": "float64", "MI_TYPE": "string", "SERV_IND": "string", 
    "CURRENT_PERIOD_MODIFICATION_LOSS_AMOUNT": "float64", "CUMULATIVE_MODIFICATION_LOSS_AMOUNT": "float64", 
    "CURRENT_PERIOD_CREDIT_EVENT_NET_GAIN_OR_LOSS": "float64", "CUMULATIVE_CREDIT_EVENT_NET_GAIN_OR_LOSS": "float64", 
    "HOMEREADY_PROGRAM_INDICATOR": "string", "FORECLOSURE_PRINCIPAL_WRITE_OFF_AMOUNT": "float64", 
    "RELOCATION_MORTGAGE_INDICATOR": "string", "ZERO_BALANCE_CODE_CHANGE_DATE": "string", 
    "LOAN_HOLDBACK_INDICATOR": "string", "LOAN_HOLDBACK_EFFECTIVE_DATE": "string", "DELINQUENT_ACCRUED_INTEREST": "float64", 
    "PROPERTY_INSPECTION_WAIVER_INDICATOR": "string", "HIGH_BALANCE_LOAN_INDICATOR": "string", 
    "ARM_5_YR_INDICATOR": "string", "ARM_PRODUCT_TYPE": "string", "MONTHS_UNTIL_FIRST_PAYMENT_RESET": "float64", 
    "MONTHS_BETWEEN_SUBSEQUENT_PAYMENT_RESET": "float64", "INTEREST_RATE_CHANGE_DATE": "string", 
    "PAYMENT_CHANGE_DATE": "string", "ARM_INDEX": "string", "ARM_CAP_STRUCTURE": "string", 
    "INITIAL_INTEREST_RATE_CAP": "float64", "PERIODIC_INTEREST_RATE_CAP": "float64", 
    "LIFETIME_INTEREST_RATE_CAP": "float64", "MARGIN": "float64", "BALLOON_INDICATOR": "string", 
    "PLAN_NUMBER": "string", "FORBEARANCE_INDICATOR": "string", "HIGH_LOAN_TO_VALUE_HLTV_REFINANCE_OPTION_INDICATOR": "string", 
    "DEAL_NAME": "string", "RE_PROCS_FLAG": "string", "ADR_TYPE": "string", "ADR_COUNT": "float64", 
    "ADR_UPB": "float64", "PAYMENT_DEFERRAL_MOD_EVENT_FLAG": "string", "INTEREST_BEARING_UPB": "float64"
}

In [5]:
file_path = '../data/raw/2016Q1.csv'
chunk_size = 100000
df = load_and_concat_csv(file_path, lppub_column_names, lppub_column_classes, chunk_size=chunk_size)
df.head(10)

,POOL_ID,LOAN_ID,ACT_PERIOD,CHANNEL,SELLER,SERVICER,MASTER_SERVICER,ORIG_RATE,CURR_RATE,ORIG_UPB,...,PLAN_NUMBER,FORBEARANCE_INDICATOR,HIGH_LOAN_TO_VALUE_HLTV_REFINANCE_OPTION_INDICATOR,DEAL_NAME,RE_PROCS_FLAG,ADR_TYPE,ADR_COUNT,ADR_UPB,PAYMENT_DEFERRAL_MOD_EVENT_FLAG,INTEREST_BEARING_UPB
0,<NA>,100000512540,022016,C,Franklin American Mortgage Company,Other,<NA>,3.75,3.75,65000.0,...,<NA>,<NA>,N,<NA>,<NA>,<NA>,NaN,NaN,7,NaN
1,<NA>,100000512540,032016,C,Franklin American Mortgage Company,Other,<NA>,3.75,3.75,65000.0,...,<NA>,<NA>,N,<NA>,<NA>,<NA>,NaN,NaN,7,NaN
2,<NA>,100000512540,042016,C,Franklin American Mortgage Company,Other,<NA>,3.75,3.75,65000.0,...,<NA>,<NA>,N,<NA>,<NA>,<NA>,NaN,NaN,7,NaN
3,<NA>,100000512540,052016,C,Franklin American Mortgage Company,Other,<NA>,3.75,3.75,65000.0,...,<NA>,<NA>,N,<NA>,<NA>,<NA>,NaN,NaN,7,NaN
4,<NA>,100000512540,062016,C,Franklin American Mortgage Company,Other,<NA>,3.75,3.75,65000.0,...,<NA>,<NA>,N,<NA>,<NA>,<NA>,NaN,NaN,7,NaN
5,<NA>,100000512540,072016,C,Franklin American Mortgage Company,Other,<NA>,3.75,3.75,65000.0,...,<NA>,<NA>,N,<NA>,<NA>,<NA>,NaN,NaN,7,NaN
6,<NA>,100000512540,082016,C,Franklin American Mortgage Company,Other,<NA>,3.75,3.75,65000.0,...,<NA>,<NA>,N,<NA>,<NA>,<NA>,NaN,NaN,7,NaN
7,<NA>,100000512540,092016,C,Franklin American Mortgage Company,Other,<NA>,3.75,3.75,65000.0,...,<NA>,<NA>,N,<NA>,<NA>,<NA>,NaN,NaN,7,NaN
8,<NA>,100000512540,102016,C,Franklin American Mortgage Company,Other,<NA>,3.75,3.75,65000.0,...,<NA>,<NA>,N,<NA>,<NA>,<NA>,NaN,NaN,7,NaN
9,<NA>,100000512540,112016,C,Franklin American Mortgage Company,Other,<NA>,3.75,3.75,65000.0,...,<NA>,<NA>,N,<NA>,<NA>,<NA>,NaN,NaN,7,NaN

In [6]:
threshold = 0.8 * len(df)
final_df = df.dropna(axis=1, thresh=threshold)
final_df.head(10)

,LOAN_ID,ACT_PERIOD,CHANNEL,SELLER,SERVICER,ORIG_RATE,CURR_RATE,ORIG_UPB,CURRENT_UPB,ORIG_TERM,...,PPMT_FLG,IO,DLQ_STATUS,MOD_FLAG,SERV_IND,HOMEREADY_PROGRAM_INDICATOR,RELOCATION_MORTGAGE_INDICATOR,HIGH_BALANCE_LOAN_INDICATOR,HIGH_LOAN_TO_VALUE_HLTV_REFINANCE_OPTION_INDICATOR,PAYMENT_DEFERRAL_MOD_EVENT_FLAG
0,100000512540,022016,C,Franklin American Mortgage Company,Other,3.75,3.75,65000.0,0.00,360.0,...,N,N,00,N,N,7,N,N,N,7
1,100000512540,032016,C,Franklin American Mortgage Company,Other,3.75,3.75,65000.0,0.00,360.0,...,N,N,00,N,N,7,N,N,N,7
2,100000512540,042016,C,Franklin American Mortgage Company,Other,3.75,3.75,65000.0,0.00,360.0,...,N,N,00,N,N,7,N,N,N,7
3,100000512540,052016,C,Franklin American Mortgage Company,Other,3.75,3.75,65000.0,0.00,360.0,...,N,N,00,N,N,7,N,N,N,7
4,100000512540,062016,C,Franklin American Mortgage Company,Other,3.75,3.75,65000.0,0.00,360.0,...,N,N,00,N,N,7,N,N,N,7
5,100000512540,072016,C,Franklin American Mortgage Company,Other,3.75,3.75,65000.0,0.00,360.0,...,N,N,00,N,N,7,N,N,N,7
6,100000512540,082016,C,Franklin American Mortgage Company,Other,3.75,3.75,65000.0,64208.14,360.0,...,N,N,00,N,N,7,N,N,N,7
7,100000512540,092016,C,Franklin American Mortgage Company,Other,3.75,3.75,65000.0,64107.76,360.0,...,N,N,00,N,N,7,N,N,N,7
8,100000512540,102016,C,Franklin American Mortgage Company,Other,3.75,3.75,65000.0,64006.42,360.0,...,N,N,00,N,N,7,N,N,N,7
9,100000512540,112016,C,Franklin American Mortgage Company,Other,3.75,3.75,65000.0,63904.76,360.0,...,N,N,00,N,N,7,N,N,N,7

In [7]:
print(final_df.columns)

Index(['LOAN_ID', 'ACT_PERIOD', 'CHANNEL', 'SELLER', 'SERVICER', 'ORIG_RATE',
       'CURR_RATE', 'ORIG_UPB', 'CURRENT_UPB', 'ORIG_TERM', 'ORIG_DATE',
       'FIRST_PAY', 'LOAN_AGE', 'REM_MONTHS', 'ADJ_REM_MONTHS', 'MATR_DT',
       'OLTV', 'OCLTV', 'NUM_BO', 'DTI', 'CSCORE_B', 'FIRST_FLAG', 'PURPOSE',
       'PROP', 'NO_UNITS', 'OCC_STAT', 'STATE', 'MSA', 'ZIP', 'PRODUCT',
       'PPMT_FLG', 'IO', 'DLQ_STATUS', 'MOD_FLAG', 'SERV_IND',
       'HOMEREADY_PROGRAM_INDICATOR', 'RELOCATION_MORTGAGE_INDICATOR',
       'HIGH_BALANCE_LOAN_INDICATOR',
       'HIGH_LOAN_TO_VALUE_HLTV_REFINANCE_OPTION_INDICATOR',
       'PAYMENT_DEFERRAL_MOD_EVENT_FLAG'],
      dtype='object')

In [8]:
string_columns = final_df.select_dtypes(include='string').columns
unique_values = {col: final_df[col].unique() for col in string_columns}
for col, values in unique_values.items():
    print(f"Unique values in column '{col}': {values}")

Unique values in column 'LOAN_ID': <StringArray>
['100000512540', '100000549022', '100003006281', '100003784303',
 '100004643080', '100005507460', '100007473914', '100009919815',
 '100010182021', '100011954065',
 ...
 '999978743737', '999979982534', '999981688908', '999983124397',
 '999983515120', '999985119166', '999988469950', '999992418879',
 '999992428316', '999992548116']
Length: 405925, dtype: string
Unique values in column 'ACT_PERIOD': <StringArray>
['022016', '032016', '042016', '052016', '062016', '072016', '082016',
 '092016', '102016', '112016', '122016', '012017', '022017', '032017',
 '042017', '052017', '062017', '072017', '082017', '092017', '102017',
 '112017', '122017', '012018', '022018', '032018', '042018', '052018',
 '062018', '072018', '082018', '092018', '102018', '112018', '122018',
 '012019', '022019', '032019', '042019', '052019', '062019', '072019',
 '082019', '092019', '102019', '112019', '122019', '012020', '022020',
 '032020', '042020', '052020', '062020', '072020', '082020', '092020',
 '102020', '112020', '122020', '012021', '022021', '032021', '042021',
 '052021', '062021', '072021', '082021', '092021', '102021', '112021',
 '122021', '012022', '022022', '032022', '042022', '052022', '062022',
 '072022', '082022', '092022', '102022', '112022', '122022', '012023',
 '022023', '032023', '042023', '052023', '062023', '072023', '082023',
 '092023', '102023', '112023', '122023', '012024', '022024', '032024',
 '012016']
Length: 99, dtype: string
Unique values in column 'CHANNEL': <StringArray>
['C', 'B', 'R']
Length: 3, dtype: string
Unique values in column 'SELLER': <StringArray>
[                                  'Franklin American Mortgage Company',
                                                                'Other',
                            'Jpmorgan Chase Bank, National Association',
                                                   'Quicken Loans Inc.',
                                                   'Quicken Loans, LLC',
                                                 'Rocket Mortgage, LLC',
                                                   'Flagstar Bank, Fsb',
                                                   'Flagstar Bank, FSB',
                                  'Flagstar Bank, National Association',
                                'Pmt Credit Risk Transfer Trust 2015-2',
                                'PMT Credit Risk Transfer Trust 2015-2',
 'United Shore Financial Services, Llc D/B/A United Wholesale Mortgage',
   'United Shore Financial Services, LLC dba United Wholesale Mortgage',
                                       'United Wholesale Mortgage, LLC',
                            'JPMorgan Chase Bank, National Association',
                                   'Provident Funding Associates, L.P.',
                                               'Wells Fargo Bank, N.A.',
                                                   'Loandepot.Com, Llc',
                                                   'loanDepot.com, LLC',
                                             'Nationstar Mortgage, Llc',
                                             'NationStar Mortgage, LLC',
                                              'Nationstar Mortgage LLC',
                                                        'Suntrust Bank',
                                 'Truist Bank (formerly SunTrust Bank)',
                                                   'Citimortgage, Inc.',
                                                   'CitiMortgage, Inc.',
                                                 'Stearns Lending, Llc',
                                                 'Stearns Lending, LLC',
                                                'Guaranteed Rate, Inc.',
                                               'Freedom Mortgage Corp.',
                                                 'Ditech Financial Llc',
                                      'Finance Of America Mortgage Llc',
                                      'Finance of America Mortgage LLC',
                                             'Caliber Home Loans, Inc.',
                                                 'Impac Mortgage Corp.',
                                                          'Truist Bank',
                                                       'U.S. Bank N.A.',
                                      'Amerihome Mortgage Company, Llc',
                                      'AmeriHome Mortgage Company, LLC',
                                                   'Rrac Spv-Fn2 Trust',
                                                 'Ditech Financial LLC',
                                                           'Bvrt Trust',
                                                      'Bay Equity, Llc']
Length: 43, dtype: string
Unique values in column 'SERVICER': <StringArray>
[                                               'Other',
                  'Citizens Bank, National Association',
                                                   <NA>,
                          'Pingora Loan Servicing, Llc',
                          'Pingora Loan Servicing, LLC',
                                 'Rocket Mortgage, LLC',
                             'Jp Morgan Chase Bank, Na',
                'Matrix Financial Services Corporation',
                                   'Quicken Loans Inc.',
                                   'Quicken Loans, Llc',
                                   'Quicken Loans, LLC',
                              'JPMorgan Chase Bank, NA',
                                       'Pennymac Corp.',
                                       'PennyMac Corp.',
                                         'Regions Bank',
                              'Jpmorgan Chase Bank, Na',
                   'Provident Funding Associates, L.P.',
                             'NationStar Mortgage, LLC',
                               'Wells Fargo Bank, N.A.',
            'Roundpoint Mortgage Servicing Corporation',
            'RoundPoint Mortgage Servicing Corporation',
                               'Freedom Mortgage Corp.',
                               'Guild Mortgage Company',
                           'Guild Mortgage Company LLC',
                         'Lakeview Loan Servicing, Llc',
                         'Lakeview Loan Servicing, LLC',
                             'Nationstar Mortgage, Llc',
                         'New Residential Mortgage Llc',
                         'New Residential Mortgage LLC',
                               'Suntrust Mortgage Inc.',
                                        'Suntrust Bank',
                 'Truist Bank (Formerly Suntrust Bank)',
                 'Truist Bank (formerly SunTrust Bank)',
                                     'Fifth Third Bank',
               'Fifth Third Bank, National Association',
                                   'Citimortgage, Inc.',
                                       'Pnc Bank, N.A.',
                                       'PNC Bank, N.A.',
                        'Seneca Mortgage Servicing Llc',
                                 'Ditech Financial Llc',
                              'Nationstar Mortgage LLC',
                             'Caliber Home Loans, Inc.',
                                          'Truist Bank',
                                       'U.S. Bank N.A.',
          'Redwood Residential Acquisition Corporation',
                             'Phh Mortgage Corporation',
                    'RoundPoint Mortgage Servicing LLC',
                                'Bank Of America, N.A.',
              'Fannie Mae/Seterus, Inc. As Subservicer',
 'Mortgage Access Corp.Dba Weichert Financial Services',
                                  'Axia Financial, Llc']
Length: 51, dtype: string
Unique values in column 'ORIG_DATE': <StringArray>
['122015', '012016', '032016', '022016', '112015', '102015', '092015',
 '082015', '032015', '012015', '062015', '052015', '042015', '072015',
 '122014', '022015', '072014', '042014', '102014', '062014', '082014',
 '052014', '092014', '012014', '032014', '102013', '112014', '082013',
 '022014']
Length: 29, dtype: string
Unique values in column 'FIRST_PAY': <StringArray>
['022016', '032016', '052016', '042016', '012016', '122015', '112015',
 '102015', '052015', '032015', '082015', '072015', '062015', '092015',
 '042015', '022015', '092014', '062014', '082014', '102014', '112014',
 '042014', '052014', '072014', '122014', '012015', '112013']
Length: 27, dtype: string
Unique values in column 'MATR_DT': <StringArray>
['012046', '022046', '042046',     <NA>, '032046', '122045', '122025',
 '022031', '112045', '082060',
 ...
 '092043', '102049', '092024', '112027', '052042', '072032', '102024',
 '032050', '072027', '072041']
Length: 382, dtype: string
Unique values in column 'NUM_BO': <StringArray>
['1', '2', '3', '4', '5', '6']
Length: 6, dtype: string
Unique values in column 'FIRST_FLAG': <StringArray>
['N', 'Y']
Length: 2, dtype: string
Unique values in column 'PURPOSE': <StringArray>
['C', 'P', 'R']
Length: 3, dtype: string
Unique values in column 'PROP': <StringArray>
['SF', 'PU', 'CO', 'MH', 'CP']
Length: 5, dtype: string
Unique values in column 'OCC_STAT': <StringArray>
['P', 'S', 'I']
Length: 3, dtype: string
Unique values in column 'STATE': <StringArray>
['GA', 'KS', 'IL', 'IN', 'TX', 'UT', 'MO', 'IA', 'OR', 'DE', 'CA', 'MI', 'KY',
 'CO', 'NY', 'PA', 'WI', 'WA', 'VA', 'AZ', 'MD', 'TN', 'MA', 'OH', 'SC', 'AK',
 'AL', 'LA', 'MN', 'NC', 'AR', 'MS', 'OK', 'NE', 'NJ', 'ID', 'FL', 'ND', 'NV',
 'NM', 'CT', 'VT', 'WV', 'DC', 'ME', 'SD', 'NH', 'MT', 'HI', 'PR', 'RI', 'WY',
 'VI', 'GU']
Length: 54, dtype: string
Unique values in column 'MSA': <StringArray>
['12260', '48620', '00000', '31140', '26420', '36260', '38900', '16980',
 '37980', '19100',
 ...
 '29940', '34620', '48540', '41140', '23460', '48700', '25980', '21300',
 '12980', '49500']
Length: 395, dtype: string
Unique values in column 'ZIP': <StringArray>
['308', '670', '623', '471', '773', '844', '638', '504', '972', '606',
 ...
 '409', '669',  <NA>, '102', '418', '772', '248', '414', '865', '417']
Length: 892, dtype: string
Unique values in column 'PRODUCT': <StringArray>
['FRM']
Length: 1, dtype: string
Unique values in column 'PPMT_FLG': <StringArray>
['N', <NA>]
Length: 2, dtype: string
Unique values in column 'IO': <StringArray>
['N', <NA>]
Length: 2, dtype: string
Unique values in column 'DLQ_STATUS': <StringArray>
['00', '01', 'XX', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
 '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
 '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37',
 '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50',
 '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63',
 '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76',
 '77', '78', '79', '80', '81', '82', '83', '84']
Length: 86, dtype: string
Unique values in column 'MOD_FLAG': <StringArray>
['N', <NA>, 'Y']
Length: 3, dtype: string
Unique values in column 'SERV_IND': <StringArray>
['N', 'Y', <NA>]
Length: 3, dtype: string
Unique values in column 'HOMEREADY_PROGRAM_INDICATOR': <StringArray>
['7', 'F', 'H']
Length: 3, dtype: string
Unique values in column 'RELOCATION_MORTGAGE_INDICATOR': <StringArray>
['N', 'Y']
Length: 2, dtype: string
Unique values in column 'HIGH_BALANCE_LOAN_INDICATOR': <StringArray>
['N', 'Y']
Length: 2, dtype: string
Unique values in column 'HIGH_LOAN_TO_VALUE_HLTV_REFINANCE_OPTION_INDICATOR': <StringArray>
['N']
Length: 1, dtype: string
Unique values in column 'PAYMENT_DEFERRAL_MOD_EVENT_FLAG': <StringArray>
['7']
Length: 1, dtype: string